<template>
    <TTSModal v-show="showModal" @close="closeClicked" :width="500" :backgroundColor="'F2F2F2'">
        <div slot="header" class="list-header">
            <h3>다운로드 하시겠습니까?</h3>
        </div>
        <div class="ibox-content" slot="body">
            <form role="form">
                <div class="form-group">
                    <input type="text" placeholder="파일 이름을 적어주세요" class="form-control" :value="jobTitle"
                           @input="handlerInputChanged">
                </div>
            </form>
        </div>
        <div slot="footer">
            <button type="button" class="btn btn-primary btn-sm" @click="sendAsClicked">
                <i class="fa fa-save"></i> 다운로드
            </button>
            <button type="button" class="btn btn-primary btn-sm" @click="sendZipAsClicked">
                <i class="fa fa-save"></i> 개별 다운로드
            </button>
            <button type="button" class="btn btn-danger btn-sm" @click="closeClicked">
                <i class="fa fa-close"></i> 취소
            </button>
        </div>
    </TTSModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import TTSModal from '@/components/common/TTSModal';

    export default {
        components: {
            TTSModal
        },
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
        },
        computed: {
            ...mapState('job', {
                jobTitle: 'jobTitle',
                jobScripts: 'jobScripts'
            }),
            membershipData() {
                return this.$store.state.roles
            }
        },
        methods: {
            ...mapActions('job', {
                setJobTitle: 'setJobTitle'
            }),
            handlerInputChanged($event) {
                this.setJobTitle($event.target.value);
            },
            sendAsClicked() {
                if (this.jobTitle.length == 0) {
                    alert("파일 이름을 적어주세요.");
                    return false;
                } else if (this.isJobScriptsEmpty()) {
                    alert("다운로드 할 텍스트가 존재하지 않습니다.");
                } else {
                    this.$emit('popup:notifyDownloadAsJobContent')
                    this.closeClicked();


                }
            },
            sendZipAsClicked() {
                if (this.jobTitle.length == 0) {
                    alert("파일 이름을 적어주세요.");
                    return false;
                }else if (this.isJobScriptsEmpty()) {
                    alert("다운로드 할 텍스트가 존재하지 않습니다.");
                }
                else {
                    this.$emit('popup:notifyDownloadEachAsJobContent')
                    this.closeClicked();
                }
            },
            isJobScriptsEmpty() {
                return this.jobScripts.some(script =>
                    script.scriptText == ""
                )
            },
            closeClicked() {
                this.$emit('popup:notifyClosed');
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '~styles/font-awesome';
    @import '~styles/animate';

    .ibox-content {
        color: inherit;
        padding: 20px 20px 10px 20px;
        margin: 0;
        text-align: center;
    }

    .ibox-content em {
        font-size: 14px;
        //font-weight: 600;
        font-style: normal;
        display: block;
        color: #000000;
        text-align: center
    }
</style>