<template>
<!--        <tr @click="rowClicked(index)" :class="computedRowClasses">-->
<!--            <td>{{index +1}}</td>-->
<!--            <td>{{job.jobTitle}}</td>-->
<!--            <td>{{computedUpdateDate}}</td>-->
<!--        </tr>-->

    <div id="body-table">
        <b-table
                id="jobListPopup"
                :items="jobListParsed"
                :per-page="perPage"
                :fields="fields"
                :current-page="currentPage"
        >
        </b-table>
        <div id="noDataMsg" v-if="jobList.length === 0">다운로드된 파일이 존재하지 않습니다.</div>
    </div>
</template>

<script>
    import Vue from "vue";
    import Filter from "@/utils/filters"
    import {mapState} from "vuex";

    export default {
        name: "JobListPopupViewItem",
        props: {
            // index: {
            //     type: Number,
            //     default: -1,
            // },
            // job: {
            //     type: Object,
            //     default: {}
            // },
            // selected: {
            //     type: Boolean,
            //     default: false
            // },

            // fields: [{'id': '#'}, {'jobTitle': '작업명'}, {'updatedAt': '저장일시'}],
            fields: [
                {
                    key: 'id',
                    label: '#',
                    sortable: true
                },
                {
                    key: 'jobTitle',
                    label: '작업명',

                    sortable: false
                },
                {
                    key: 'updatedAt',
                    label: '저장일시',
                    variant: 'danger'
                }
            ],
            perPage: 10,
            currentPage: 1,
        },
        computed: {
            computedRowClasses() {
                return {
                    selected: this.selected
                }
            },
            computedUpdateDate() {
                return Filter.formatDate(this.job.updatedAt);
            },
            ...mapState('job', {
                jobList: 'jobList',
            }),
            jobListParsed(){
               return this.jobList
            }
        },
        methods: {
            rowClicked() {
                this.$emit('notify:selectionRowIndex', this.index);
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '~styles/font-awesome';
    @import '~styles/animate';

    .selected {
        background-color: #bababa;
    }
</style>