<template>
    <TTSModal v-show="showModal" @close="closeClicked" :width="600" :backgroundColor="'F2F2F2'">
        <div slot="header" class="list-header flex">
            <div>
                <h3>작업을 불러오시겠습니까?</h3>
            </div>
            <div style="margin-left: auto;">

            </div>
        </div>
        <div class="ibox-content" slot="body">
            <!--            <table class="table table-hover">-->
            <!--                <thead>-->
            <!--                <tr>-->
            <!--                    <th>#</th>-->
            <!--                    <th>작업명</th>-->
            <!--                    <th>저장일시</th>-->
            <!--                </tr>-->
            <!--                </thead>-->
            <!--                <tbody>-->
            <!--                <JobListPopupViewItem-->
            <!--                    v-for="(job, index) in jobList"-->
            <!--                    :key="job.jobId"-->
            <!--                    :index="index"-->
            <!--                    :job="job"-->
            <!--                    :selected="selectionRowIndex == index"-->
            <!--                    @notify:selectionRowIndex="handlerNotifySelectionRowIndex">-->
            <!--                </JobListPopupViewItem>-->
            <!--                </tbody>-->
            <!--            </table>-->

            <b-table
                    id="jobListPopup"
                    selectable
                    :select-mode="mode"
                    :items="jobList"
                    :per-page="perPage"
                    :fields="fields"
                    :current-page="currentPage"
                    @row-selected="handlerNotifySelectionRowIndex"
            >
                <template #cell(#)="data">
                    {{ data.index + 1 }}
                </template>
            </b-table>
            <div id="noDataMsg" v-if="jobList.length === 0">다운로드된 파일이 존재하지 않습니다.</div>

            <div id="jobListPopupPagination">
                <b-pagination
                        class="listPagination"
                        v-model="currentPage"
                        :total-rows="jobList.length"
                        :per-page="perPage"
                        aria-controls="jobListPopup"
                        align="center">
                </b-pagination>
            </div>
        </div>

        <div slot="footer" class="footer">

            <div class="buttons">
                <button type="button" class="btn btn-danger btn-sm" @click="closeClicked">
                    <i class="fa fa-close"></i> 취소
                </button>
                <button type="button" class="btn btn-success btn-sm" @click="sectionClicked">
                    <i class="fa fa-upload"></i> 불러오기
                </button>
            </div>
        </div>
    </TTSModal>
</template>

<script>
    import {mapState} from 'vuex';
    import TTSModal from '@/components/common/TTSModal';
    import JobListPopupViewItem from './JobListPopupViewItem';

    export default {
        components: {
            TTSModal, JobListPopupViewItem,
        },
        props: {
            showModal: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                fields: [
                    '#',
                    {
                        key: 'jobTitle',
                        label: '작업명',
                        sortable: true
                    },
                    {
                        key: 'updatedAt',
                        label: '저장일시',
                        sortable: true
                    }
                ],
                perPage: 10,
                currentPage: 1,
                mode: "single",
                selected: []
            }
        },
        computed: {
            ...mapState('job', {
                jobList: 'jobList',
            }),
        },
        methods: {
            sectionClicked() {
                if (this.selected.length == 0) {
                    alert("작업을 선택해주시기 바랍니다.")
                    return;
                }
                this.$emit('popup:notifyJobSelectionRowIndex', this.selected[0].jobId);
                this.closeClicked();
            },
            closeClicked() {
                this.$emit('popup:notifyClosed');
            },

            handlerNotifySelectionRowIndex(items) {
                this.selected = items;
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '~styles/font-awesome';
    @import '~styles/animate';

    .ibox-content {
        color: inherit;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .table-hover {
        tbody tr {
            cursor: pointer;
        }

        tbody tr:hover {
            color: black;
            font-weight: 600;
            background-color: #bababa;
        }
    }
    #jobListPopupPagination{
        width:100%;
        display: inline-block;
        margin: 20px auto 0;
    }

    .footer{
        width: 100%;

        .buttons{
            /*display: inline-block;*/
        }
    }

    .modal-footer div.buttons {
        display: block;
        width: 100%;
        padding: 0;
        text-align: center;
        background: #fff;
        margin:0;
    }

</style>