<template>
    <TTSModal v-show="showModal" @close="closeClicked" :width="500" :backgroundColor="'F2F2F2'">
        <div slot="header" class="list-header">
            <h3>작업을 보내시겠습니까?</h3>
        </div>
        <div class="ibox-content" slot="body">
            <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="jobkind" value="PG" checked @input="handlerRadioButton">프로그램
            </label>                
            </div>
            <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="jobkind" value="IN" @input="handlerRadioButton">인서트
            </label>
            </div>
            <br>
            <form id="form-send" role="form" v-if="jobKind == 'PG'">
                <div class="form-group">                    
                    <label for="channel"><b>매체 선택</b></label>
                    <select class="form-control" id="channel" @change="handlerChannel">
                        <option disabled selected value></option>
                        <option value="1R">1R</option>
                        <option value="2R">2R</option>
                        <option value="3R">3R</option>
                        <option value="1FM">1FM</option>
                        <option value="2FM">2FM</option>
                        <option value="AD">DMB</option>
                        <option value="GL">국제</option>
                    </select>
                    <label for="date"><b>방송날짜 선택</b></label><br>
                    <input type="date" name="date" id="date" class="form-control" @change="handlerDate"><br>
                    <label for="program"><b>프로그램 선택</b></label>
                    <select class="form-control" id="program" required @change="handlerCategory">
                        <option disabled selected value></option>
                        <option v-for="res in this.userCategoryList" :key="res.cateId" :value="res.cateId">{{res.name}} - {{res.categoryCode}}</option>
                    </select>

                    <label for="title"><b>타이틀명</b></label>
                    <input type="text" id="title" class="form-control" :value="this.selectedTitle" />  
                    <label for="itemCode"><b>Item Code</b></label>
                    <input type="text" id="itemCode" class="form-control" :value="this.itemCode"/>
                </div>
            </form>
            <form id="form-send2" role="form" v-else-if="jobKind == 'IN'">
                <div class="form-group">
                    <label for="channel"><b>매체 선택</b></label>
                    <select class="form-control" id="channel" @change="handlerChannel">
                        <option disabled selected value></option>
                        <option value="1R">1R</option>
                        <option value="2R">2R</option>
                        <option value="3R">3R</option>
                        <option value="1FM">1FM</option>
                        <option value="2FM">2FM</option>
                        <option value="AD">DMB</option>
                        <option value="GL">국제</option>
                    </select>
                    <label for="program"><b>프로그램 선택</b></label>
                    <select class="form-control" id="program" required @change="handlerCategory">
                        <option disabled selected value></option>
                        <option v-for="res in this.userCategoryList" :key="res.cateId" :value="res.cateId">{{res.name}} - {{res.categoryCode}}</option>
                    </select>
                    <label for="title"><b>타이틀명</b></label>
                    <input type="text" placeholder="파일 이름을 적어주세요" class="form-control" :value="jobTitle" @input="handlerInputChanged">        
                </div>
            </form>
        </div>
        <div slot="footer">
            <button type="button" class="btn btn-primary btn-sm" @click="sendAsClicked">
                <i class="fa fa-save"></i> 작업 보내기
            </button>
            <button type="button" class="btn btn-danger btn-sm" @click="closeClicked">
                <i class="fa fa-close"></i> 취소
            </button>
        </div>
    </TTSModal>
</template>

<script>
import Vue from "vue";
import { mapState, mapGetters, mapActions } from 'vuex';

import TTSModal from '@/components/common/TTSModal';

export default {
    components: {
        TTSModal
    },
    props: {
        showModal: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            selectedTitleName: '',
            selectedTitleDate: '',
        } 
    },
    computed: {
        ...mapState('job', {
            jobTitle : 'jobTitle',
        }),
        ...mapState('dmz', {
            userCategoryList: 'userCategoryList',
            jobKind: 'jobKind',
            itemCode: 'itemCode',
            selectedCategory: 'selectedCategory',
            selectedCategoryId: 'selectedCategoryId',
            selectedChannel: 'selectedChannel',
            selectedDate: 'selectedDate',
            selectedTitle: 'selectedTitle'
        }),
    },
    methods: {
        ...mapActions('job', {
            setJobTitle: 'setJobTitle'
        }),
        ...mapActions('dmz', {
            setUserCategoryList: 'setUserCategoryList',
            setJobKind: 'setJobKind',
            setItemCode: 'setItemCode',
            setSelectedCategory: 'setSelectedCategory',
            setSelectedCategoryId: 'setSelectedCategoryId',
            setSelectedChannel: 'setSelectedChannel',
            setSelectedDate: 'setSelectedDate',
            setSelectedTitle: 'setSelectedTitle',
            clearSelectedTitle: 'clearSelectedTitle',
            clearSelectedCategory: 'clearSelectedCategory',
            clearSelectedChannel: 'clearSelectedChannel',
            clearItemCode: 'clearItemCode',            
        }),
        handlerRadioButton($event) {
            let value = $event.target.value;
            this.setJobKind(value);
            if(value == "IN") {
                // this.setJobTitle("IN");
                this.setJobTitle("");
                this.setItemCode("IN");
                this.clearSelectedCategory();
                this.clearSelectedChannel();
            }
            else if(value == "PG"){
                this.clearItemCode();
                this.clearSelectedCategory();
                this.clearSelectedChannel();
                this.clearSelectedTitle();
            }
            if($('#form-send2')[0])$('#form-send2')[0].reset();
            if($('#form-send')[0])$('#form-send')[0].reset();   
        },
        handlerCategory($event){
            // console.log("categoryInfo : ", this.userCategoryList)

            let categoryCode ="";
            let name = "";
            this.userCategoryList.forEach(e => {
                if(e.cateId == $event.target.value){
                    categoryCode = e.categoryCode;
                    name = e.name;
                }
            });
            this.setSelectedCategoryId($event.target.value);
            this.setSelectedCategory(categoryCode);
            if(this.jobKind == "PG") { this.handlerItemCode(); }
            this.selectedTitleName = name;
            this.handlerTitle();
        },
        handlerChannel($event){     
            this.setSelectedChannel($event.target.value);
            if(this.jobKind == "PG") { this.handlerItemCode(); }
        },
        handlerDate($event){
            let date = $event.target.value.split('-');
            let year = date[0];
            let shortYear = year.substring(2,4);
            let month = date[1];
            let day = date[2];
            let newDate = shortYear+month+day;
            this.setSelectedDate(newDate);
            this.handlerItemCode();

            let week = ['일', '월', '화', '수', '목', '금', '토'];
            let newDate2 = year+"-"+month+"-"+day;
            let dayOfWeek = week[new Date(newDate2).getDay()];
            this.selectedTitleDate = newDate2 + " " + dayOfWeek;
            this.handlerTitle();
        },
        handlerInputChanged($event) {
            this.setJobTitle($event.target.value);
        },
        handlerTitle(){
            let title = this.selectedTitleName + " (" + this.selectedTitleDate + ")";
            this.setSelectedTitle(title);
        },
        handlerItemCode(){
            let item = this.jobKind + "-" + this.selectedChannel + this.selectedCategory + "00-" + this.selectedDate;
            this.setItemCode(item);
            this.setJobTitle(this.itemCode);
        },
        sendAsClicked() {
            
            if(this.jobKind == 'PG') {
                if(this.jobTitle.length == 0 || this.itemCode.length == 0 || this.selectedChannel.length == 0 || this.selectedCategory == 0 || this.selectedDate.length == 0)
                {
                    alert("선택을 완료해 주세요.");
                    return false;
                }
            }
            else if(this.jobKind == 'IN') {
                if(this.jobTitle.length == 0)
                {
                    alert("선택을 완료해 주세요.");
                    return false;
                }
            }
            this.$emit('popup:notifySendAsJobContent')
            this.closeClicked();
        },
        closeClicked() {
            this.$emit('popup:notifyClosed');
        }
    }
}
</script>

<style lang="scss" scoped>
@import '~styles/font-awesome';
@import '~styles/animate';

.ibox-content {
    color: inherit;
    padding: 20px;
    margin: 0 0 20px 0;
    text-align: center;
}
.ibox-content em {
    font-size: 14px;
    //font-weight: 600;
    font-style: normal;
    display: block;
    text-align: center;

    color:#000000;
}
</style>