<template>
    <div>
        <TTSModal v-show="showModal" @close="closeClicked" :width="500" :backgroundColor="'F2F2F2'">
            <div slot="header" class="list-header">
                <h3 class="save-header">이미 <span class="jobtitle">"{{jobInputTitle1}}"</span> 이름의 파일이 존재합니다. </h3>
                <p class="title-info">기존의 <span class="jobtitle">"{{jobInputTitle1}}"</span> 파일을 덮어쓰거나</p>
                <p class="title-info">기존 <span class="jobtitle">"{{jobInputTitle1}}"</span> 파일에 스크립트에 이어 붙이실 수 있습니다.</p>
            </div>
            <div class="ibox-content" slot="body">
                <form role="form" onSubmit="return false;">
                    <div class="form-group">
                        <input type="text" placeholder="작업 제목을 입력해주세요" class="form-control" :value="jobInputTitle1"
                               @input="handlerInputChanged"
                        >
                    </div>
                </form>
            </div>
            <div slot="footer" class="save-job_footer">
                <button type="button" class="btn btn-warning btn-sm" @click="overWriteAsClicked">
                    <i class="fa fa-save"></i> 덮어쓰기
                </button>
                <button type="button" class="btn btn-warning btn-sm" @click="saveAsClicked">
                    <i class="fa fa-save"></i> 이어 붙이기
                </button>

                <button type="button" class="btn btn-danger btn-sm" @click="closeClicked">
                    <i class="fa fa-close"></i> 취소
                </button>
            </div>
        </TTSModal>
    </div>
</template>

<script>

    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import TTSModal from '@/components/common/TTSModal';

    export default {
        components: {
            TTSModal,
        },
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
            title: {
                type: String,
                default: ""
            },

        },
        data() {
            return {
                inputTitle: '',
                inputFlag: false
            }
        },
        computed: {
            ...mapState('job', {
                jobTitle: 'jobTitle',
                jobList: 'jobList'
            }),
            ...mapState('input', {
                jobInputTitle1: 'jobInputTitle1',
                jobInputTitle2: 'jobInputTitle2',
            }),
        },
        methods: {
            ...mapActions('job', {
                setJobTitle: 'setJobTitle',
            }),
            ...mapActions('input', {
                setInputJobTitle1: 'setInputJobTitle1',
                setInputJobTitle2: 'setInputJobTitle2',
            }),

            handlerInputChanged($event) {
                this.setInputJobTitle2($event.target.value)

            },
            overWriteAsClicked() {
                if (this.jobInputTitle2.length == 0) {
                    alert("작업 제목을 입력해주세요.");
                    return false;
                } else if (this.jobInputTitle2 != this.jobTitle) {
                    this.$emit('popup:notifySaveAsJobContent2', this.jobInputTitle2);
                    this.closeClicked();
                } else if (this.jobInputTitle2 == this.jobTitle) {
                    this.$emit('popup:notifySaveAsJobContent', this.jobInputTitle2);
                    this.closeClicked();
                }
            },
            saveAsClicked() {
                if (this.jobInputTitle2.length == 0) {
                    alert("작업 제목을 입력해주세요.");
                    return false;
                } else if (this.jobList.some(job => job.jobTitle == this.jobInputTitle2)) {

                    alert("작업 제목을 새로 입력해주세요.");
                } else {

                    this.$emit('popup:notifySaveAsJobContentNew2', this.jobInputTitle2);
                    this.closeClicked();
                }
            },
            closeClicked() {
                this.$emit('popup:notifyClosed2');
            },


        },
    }
</script>

<style lang="scss" scoped>
    @import '~styles/font-awesome';
    @import '~styles/animate';

    .ibox-content {
        color: inherit;
        padding: 20px 20px 10px 20px;
        margin: 0;
        text-align: center;
    }

    .ibox-content em {
        font-size: 14px;
        font-style: normal;
        display: block;
        text-align: center;
        color: #000000;
    }

    .jobtitle {
        font-weight: 700;
    }

    .save-header {
        margin-bottom: 7px;
    }

    .title-info {
        margin: 0 auto;
    }
</style>