<template>
    <div>
        <TTSModal v-show="showModal" @close="closeClicked" :width="500" :backgroundColor="'F2F2F2'">
            <div slot="header" class="list-header">
                <h3>작업을 저장하시겠습니까?</h3>
            </div>
            <div class="ibox-content" slot="body">
                <form role="form" onSubmit="return false;">
                    <div class="form-group">
                        <input type="text" placeholder="작업 제목을 입력해주세요" class="form-control" :value="title"
                               @input="handlerInputChanged"
                               v-on:keyup.enter="enterKeyPressed">
                    </div>
                </form>
            </div>
            <div slot="footer" class="save-job_footer">
                <button type="button" class="btn btn-primary btn-sm" @click="saveAsClicked">
                    <i class="fa fa-save"></i> 작업저장
                </button>

                <button type="button" class="btn btn-danger btn-sm" @click="closeClicked">
                    <i class="fa fa-close"></i> 취소
                </button>
            </div>
        </TTSModal>
    </div>
</template>

<script>

    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import TTSModal from '@/components/common/TTSModal';

    export default {
        components: {
            TTSModal,
        },
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
            title: {
                type: String,
                default: ""
            },
        },
        data() {
            return {}
        },
        computed: {
            ...mapState('job', {
                jobTitle: 'jobTitle',
                jobList: 'jobList'
            }),
            ...mapState('input', {
                jobInputTitle1: 'jobInputTitle1',
                jobInputTitle2: 'jobInputTitle2',
            }),
        },
        methods: {
            ...mapActions('job', {
                setJobTitle: 'setJobTitle',
            }),
            ...mapActions('input', {
                setInputJobTitle1: 'setInputJobTitle1',
                setInputJobTitle2: 'setInputJobTitle2',
            }),

            handlerInputChanged($event) {
                this.title = $event.target.value
            },
            enterKeyPressed(e) {
                if (e.keyCode === 13) {
                    this.saveAsClicked();
                }
            },
            saveAsClicked() {
                if (this.title.length == 0) {
                    alert("작업 제목을 입력해주세요.");
                    return false;
                } else if (this.jobList.some(job => job.jobTitle == this.title)) {
                    this.setInputJobTitle1(this.title);
                    this.setInputJobTitle2(this.title);
                    this.$emit('popup:notifySaveAsJobContentOverwrite');
                    this.closeClicked();
                } else {
                    this.$emit('popup:notifySaveAsJobContent', this.title);
                    this.closeClicked();
                }
            },
            closeClicked() {
                this.$emit('popup:notifyClosed');
            },


        },
    }
</script>

<style lang="scss" scoped>
    @import '~styles/font-awesome';
    @import '~styles/animate';

    .ibox-content {
        color: inherit;
        padding: 20px 20px 10px 20px;
        margin: 0;
        text-align: center;
    }

    .ibox-content em {
        font-size: 14px;
        font-style: normal;
        display: block;
        text-align: center;
        color: #000000;
    }

    .footer {

    }
</style>