<template>
  <div>
    <!-- 
      <router-link to="/">
      Index
    </router-link> | <router-link to="/home">
      Home
    </router-link> | <router-link to="/medium">
      Medium
    </router-link> | <router-link to="/paste">
      Paste
    </router-link>
    -->
    <router-view />
  </div>
</template>

<script>

</script>
