<template>
   <div class="wrapper-content gray-bg">
       <div class="row border-bottom block">
            <nav class="navbar navbar-static-top jobHeader">
                <h5>음성제작툴</h5>
            </nav>
        </div>
        <Player :dataSource="jobScripts" />

        <EditJobButton />
        
       <EditContent :jobScripts="jobScripts" />
       <NewScriptButton></NewScriptButton>
   </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import Player from './../player/Player';
import EditJobButton from './EditJobButton';
import EditContent from './EditContent';

import NewScriptButton from '@/components/common/NewScriptButton.vue'; 

export default {
    name: 'EditMain',
    components : { Player, EditJobButton, EditContent, NewScriptButton },
    computed: {
        ...mapState('job', {
            jobScripts: 'jobScripts',
        }),
    }
};
</script>

<style lang="scss" scoped>
@import '~styles/font-awesome';
@import '~styles/animate';
@import '~styles/speakers';

.jobHeader {
    margin-bottom: 0;
    flex-direction: row;
    justify-content: center;
    display: inline-block;
    height: inherit ;
    background: none;
}
.jobHeader h5 {
    font-weight: 600;
    color: black;
    margin: 10px 0 0 15px;
    font-size: 18px;
}
</style>