<template>
    <div class="pull-right" style="margin-top: 5px;">
        <label class="label label-primary" v-if="exposeStyle">{{styleNm}}</label> <!-- style -->
        <label class="label label-success" v-if="exposeSpeed">{{speedNm}}</label> <!-- speed -->
        <label class="label label-warning" v-if="exposeReadSleep">{{readSleepNm}}</label> <!-- read_sleep -->
    </div>
</template>

<script>
export default {
    props : {
        settings : {
            type : [Object],
            default : {}
        }
    },
    data() {
      return { 
          styleMappings : {
            "default": "기본",
            "style1": "스타일1",
            "style2": "스타일2",
            "style3": "스타일3",
            "style4": "스타일4"
          },
          speedMappings : {
            "slow": "느리게",
            "nomal": "기본",
            "fast": "빠르게"
          }
      }
    }, 
    computed: {
        // 스타일 정보(코드)
        style() {
            return this.settings.style || 'default';
        },
        // 재생 속도 정보(코드)
        speed() {
            return this.settings.speed || 'nomal';
        },
        // 재생후 구간 쉬기 정보(코드)
        read_sleep() {
            return this.settings.read_sleep || 0;
        },
        // 볼륨 정보(코드)
        volume() {
            return this.settings.volume || 0.5;
        },
        // 스타일 정보 노출 여부
        exposeStyle() {
            return this.style !== 'default';
        },
        // 재생 속도 정보 노출 여부
        exposeSpeed() {
            return this.speed !== 'nomal';
        },
        // 재생후 구간 쉬기 정보 노출 여부
        exposeReadSleep() {
            return this.read_sleep > 0;
        },
        // 볼륨 정보 노출여부
        exposeVolume() {
            return this.volume > 0;
        },
        // 스타일 이름 정보의 맵핑 정보
        styleNm() {
            return this.styleMappings[this.settings.style];
        },
        // 재생 속도 정보의 맵핑 정보
        speedNm() {
            return this.speedMappings[this.settings.speed];
        },
        // 재생후 구간 쉬기 정보 가공(ex> 1.5초 쉬기)
        readSleepNm() {
            return `${this.read_sleep}초 쉬기`;
        },

    }
};
</script>
<style lang="scss" scoped>
    @import '~styles/font-awesome';
</style>