<template>
    <div class="wrapper padding animated fadeInRight">
        <div class="row">
            <div class="col-lg">
                <div class="ibox">
                    <div class="ibox-title">
<!--                        <input class="title-input" type="text" placeholder="제목을 입력해주세요." :value="jobTitle"-->
<!--                               @input="updateTitle">-->
                        <h5>아래의 텍스트 상자에 목소리를 입히고 싶은  문장을 입력해주세요.</h5>
                    </div>
                    <div class="ibox-content scriptWrapper" :class="computedScriptWrapperAddClasses">
                        <virtualList :size="85" :remain="20" importantHeight="70vh">
                            <EditScriptListItem
                                    :ref="`jobScripts_${item.scriptId}`"
                                    v-for="(item, index) in jobScripts"
                                    :key="item.scriptId"
                                    :index="index"
                            />
                        </virtualList>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    // virtual Dom 처리를 위한 모듈
    import virtualList from '@/components/common/virtualList';

    // Script Edit, 재생, 재생제어 등 Edit Script 처리하는 Vue
    import EditScriptListItem from './EditScriptListItem';

    export default {
        name: 'EditScriptList',
        components: {virtualList, EditScriptListItem},
        delay: 200,
        props: {
            jobScripts: {
                type: Array,
                default: []
            }
        },
        computed: {
            ...mapState('speaker', {
                selectedSpeakerIndex: 'selectedSpeakerIndex'
            }),
            ...mapState('job', {
                jobTitle: 'jobTitle',
            }),
            computedScriptWrapperAddClasses() {
                return {
                    selectionMode: this.selectedSpeakerIndex > -1,
                }
            }

        },
        methods: {
            updateTitle(e) {
                this.setJobTitle(e.target.value);
            },
            ...mapActions('job', {
                setJobTitle: "setJobTitle"
            }),
        }
    };
</script>

<style lang="scss" scoped>
    @import '~styles/animate';
    @import '~styles/speakers';

    .wrapper {
        clear: both;
    }

    textarea:focus, input:focus {
        outline: none;
    }

    input {
        outline: none;
        border: 0px solid;
        font-size:20px;
    }

</style>