<template>
    <div class="speakerFace" :style="'left:' + computedPosition +'px;'">
        <img alt="image" :class="computedClasses" :src="require(`@/assets/images/speaker/${imgUrl}`)"
             :style="this.setCircleBorderColor(this.index)"> <!-- "~@/assets/images/speaker/" -->
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: 'SpeakerFace',
        props: {
            imgUrl: {
                type: String,
                required: true
            }, size: {
                type: String,
                required: false,
                default: 'm'
            }, index: {
                type: Number,
                required: true
            }, disabledCircleBorderColor: {
                type: Boolean,
                default: false,
            }
        },
        computed: {
            ...mapGetters('speaker', {
                getPalette: 'getPalette'
            }),
            computedClasses() {
                return {
                    'circle-border': !this.disabledCircleBorderColor,
                    'img-circle-r80': this.size == 'l' ? true : false,
                    'img-lg': this.size == 'l' ? true : false,
                    'img-circle-r70': this.size == 'm' ? true : false,
                    'img-slg': this.size == 'm' ? true : false,
                    'img-circle-r80': this.size == 's' ? true : false,
                    'img-sm': this.size == 's' ? true : false,

                }
            },
            computedPosition(){
                return this.index * 35;
            }

        },
        methods: {
            setCircleBorderColor(index) {
                console.log(this.disabledCircleBorderColor)
                console.log(this.index)
                if (this.disabledCircleBorderColor) return;
                return {
                    "border-color": this.getPalette(index)
                }
            },
        },
        data() {
            return {
                FaceStyle: {
                    "border-color": this.borderColor
                }
            }
        }
    };
</script>
<style>
    .speakerFace {
        position: absolute;

    }
</style>