<template>
    <div style="float:left;">
        <TTSAudio ref="AudioComponent" :dataSource="dataSource" @notify:play="handlerAudioPlayed"
                  @notify:ended="handlerAudioEnded"/>
        <div class="audioControl">
            <button class="btn btn-danger btn-circle btn-sm" type="button" @click="btnPlay" v-if="!isPlaying"><i
                    class="fa fa-play" style="borderRadius:1.5px"> 재생</i></button>
            <button class="btn btn-danger btn-circle btn-sm" type="button" @click="btnStop" v-if="isPlaying"><i
                    class="fa fa-stop"> 재생 중지</i></button>
            <ToggleButton id="listenMode" :value="true" :width="100" :height="30" :fontSize="12"
                          :labels="{checked: '전체재생', unchecked: '한줄재생'}"
                          @change="handlerChangeListenMode"></ToggleButton>
        </div>

    </div>
</template>

<script>
    import {mapState, mapGetters, mapActions} from 'vuex'

    import TTSAudio from '@/components/common/TTSAudio';
    import ToggleButton from '@/components/common/ToggleButton';

    export default {
        components: {
            TTSAudio, ToggleButton
        },
        props: {
            dataSource: {
                type: Array,
                required: false
            }
        },
        data() {
            return {
                isPlaying: false
            }
        },
        computed: {
            ...mapState('player', {
                cursor: 'cursor',
                changeTrack: 'changeTrack',
                forceTrackStop: 'forceTrackStop',
            }),
        },
        watch: {
            'cursor': {
                deep: true,
                handler(cursor) {
                    this.playCursor = cursor > -1 ? cursor : 0;
                }
            },
            changeTrack: {
                deep: true,
                async handler(newValue, oldValue) {
                    if (newValue.cursor > -1) {
                        await this.$refs.AudioComponent.actionStopTrackEnd();
                        let nextCursor = await this.checkForConvertAvailableScriptIndex(newValue.cursor);
                        if (nextCursor > -1) {
                            if (newValue.needForConvert) {
                                await this.detectMoreConvertScripts(newValue.cursor);
                            }
                            await this.$refs.AudioComponent.actionPlayTrack(newValue.cursor);
                            this.clearChangeTrack();
                        } else {
                            alert('재생 할수 있는 스크립트가 없습니다. 텍스트를 입력해주세요.');
                        }
                    }
                }
            },
            forceTrackStop: {
                deep: true,
                async handler(newValue, oldValue) {
                    if (newValue) {
                        this.clearTrackStop();
                        this.$refs.AudioComponent.actionStopTrack();
                        this.isPlaying = false;
                    }

                }
            }
        },
        methods: {
            ...mapActions('job', {
                detectMoreConvertScripts: 'detectMoreConvertScripts',
                checkForConvertAvailableScriptIndex: 'checkForConvertAvailableScriptIndex',
            }),
            ...mapActions('player', {
                updateCursor: 'updateCursor',
                clearCursor: 'clearCursor',
                forceChangeTrack: 'forceChangeTrack',
                clearChangeTrack: 'clearChangeTrack',
                clearTrackStop: 'clearTrackStop',
                setIsPlaying: 'setIsPlaying'
            }),
            handlerAudioPlayed(playCursor) {
                this.updateCursor(playCursor);
            },
            async handlerAudioEnded({playCursor, listenMode, loopMode, hasNext, sleep}) {
                if (this.forceTrackStop) {
                    this.$refs.AudioComponent.actionStopTrack();
                    this.clearCursor();
                    this.clearTrackStop();
                    this.isPlaying = false;
                    return;
                }
                if (listenMode == 1) {
                    let isEnd = false;
                    if (hasNext) {
                        await this.$refs.AudioComponent.actionStopTrackEnd();
                        await this.$refs.AudioComponent.actionSleep(sleep);
                        let nextCursor = playCursor + 1;
                        //nextCursor = await this.checkForConvertAvailableScriptIndex(nextCursor);
                        nextCursor = await this.checkForConvertAvailableScriptIndex(nextCursor);
                        if (nextCursor > -1) {
                            await this.detectMoreConvertScripts(nextCursor);
                            await this.$refs.AudioComponent.actionPlayTrack(nextCursor);
                            this.isPlaying = true;
                        } else {
                            isEnd = true;
                        }

                    } else {
                        isEnd = true;
                    }
                    if (isEnd) {
                        this.$refs.AudioComponent.actionStopTrack();
                        this.clearCursor();
                        this.isPlaying = false;
                    }

                } else {
                    this.$refs.AudioComponent.actionStopTrack();
                    this.clearCursor();
                    this.isPlaying = false;
                }
            },
            async btnPlay(evt) {
                let candTrackCursor = await this.checkForConvertAvailableScriptIndex(0);
                console.log("candTrackCursor", candTrackCursor);
                if (candTrackCursor == -1) {
                    alert('재생 할수 있는 스크립트가 없습니다. 텍스트를 입력해주세요.');
                    return false;
                }
                await this.detectMoreConvertScripts(candTrackCursor);
                await this.$refs.AudioComponent.actionPlayTrack(candTrackCursor);
                await this.setIsPlaying(true);
                this.isPlaying = true;
            },
            async btnStop() {
                this.$refs.AudioComponent.actionStopTrack();
                this.isPlaying = false;
                await this.setIsPlaying(false);
            },

            // async btnPlay (evt) {
            //     if(this.$refs.AudioComponent.paused) {
            //         this.$refs.AudioComponent.actionAudioPauseToPlay();
            //     }else {
            //         await this.detectMoreConvertScripts(0);
            //         await this.$refs.AudioComponent.actionPlayTrack(0);
            //     }
            // },
            // async btnStop(evt) {
            //     this.$refs.AudioComponent.actionStopTrack();
            // },
            // btnPause(evt) {
            //     this.$refs.AudioComponent.actionAudioPause();
            // },
            handlerChangeListenMode({value}) {
                this.$refs.AudioComponent.setListenMode(value);
                //console.log(value);
            },
        }
    };
</script>

<style lang="scss" scoped>
    @import '~styles/font-awesome';
    @import '~styles/animate';
    @import '~styles/speakers';

    .audioControl {
        margin: 0 0 10px 0;

    }

    .audioControl button {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: #3599ff;
    }

    .audioControl .toggled .v-switch-core {
        background: #697995;
    }

    #listenMode {
        margin: 2px;
    }
</style>