<template>
  <div>
    <div id="cursor" :style="computedCursorStyles" >
      <div class="pin" :style="pinWrapperStyles">
        <div class="avatar" :style="avatarWrapperStyles"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
export default {
  props: {
     speaker : {
        type: [Object],
        default : {}
    },
    show: {
      type: Boolean,
      default: false,
    },
    dragX: {
      type: Number,
      default:0,
    },
    dragY: {
      type: Number,
      default:0,
    }
  },
  computed: {
    ...mapState('speaker', {
        palettes : 'palettes'
    }),
    ...mapGetters('job', {
        countJobSpeakers: 'countJobSpeakers',
        getJobSpeakerIndex: 'getJobSpeakerIndex',
    }),
    speakerFaceUrl() {
        return require(`@/assets/images/speaker/${this.speaker.imgUrl || 'avatar-male.jpg'}`);
    },
    circleBorderColorIdx() {
        return this.getJobSpeakerIndex(this.speaker.speakerId) % this.countJobSpeakers();
    },
    circleBorderColor() {
        return this.palettes[this.circleBorderColorIdx];
    },
    computedCursorStyles() {
      return { 
        'left': this.dragX + 'px', 
        'top': this.dragY + 'px', 
        'display': this.show ? 'block': 'none' 
      }
    },
    pinWrapperStyles() {
      return {
        'border' : `3px solid ${this.circleBorderColor}`,
        'background-color': `${this.circleBorderColor}`,
      }
    },
    avatarWrapperStyles() {
      return {
        'background' : `url(${this.speakerFaceUrl}) 0% 0% / 40px`,
      }
    },
  }
}
</script>

<style lang="scss" scoped>

#cursor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

#cursor .pin {
  position: absolute;
  margin-top: -22px;
  margin-left: 4px;
  
  -webkit-animation:flashback 3s ease-in-out infinite alternate;
  -moz-animation:flashback 3s ease-in-out infinite alternate;
  animation:flashback 3s ease-in-out infinite alternate;
  
  border-radius: 50% 50% 50% 0;
  width: 3.5em;
  height: 3.5em;
  transform: rotate(-45deg);
}

#cursor .avatar {
  position: absolute;
  border-radius: 50%;
  height: 3.0em;
  width: 3.0em;
  margin-top: 0px;
  margin-left: 0px;
  transform: rotate(+45deg);
}

@-webkit-keyframes flashback{
  0% { opacity: 0.5; }
  50% { opacity: 1.0; }
  100% { opacity: 0.5; }
}
@-moz-keyframes flashback{
  0% { opacity: 0.5; }
  50% { opacity: 1.0; }
  100% { opacity: 0.5; }
}
@keyframes flashback{
  0% { opacity: 0.5; }
  50% { opacity: 1.0; }
  100% { opacity: 0.5; }
}
</style>