<template>
    <div class="pull-left avatarWrapper speakerFace" :style="avatarWrapperStyles()" @click.prevent="btnPlayScriptClicked">
        <SpeakerCircleLoading v-if="isConverting" />
        <div :class="avatarButtonClasss()" v-if="isPlayEnable && isPlaying">
            <SpeakerStretchLoading v-if="this.getIsPlaying"></SpeakerStretchLoading> <!-- 재생 중 -->
            <i class="fa fa-play" v-if="!isPlaying" ></i> <!-- 재생 전 -->
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import { mapState, mapGetters, mapActions } from 'vuex'

import SpeakerCircleLoading from '@/components/speaker/SpeakerCircleLoading';
import SpeakerStretchLoading from '@/components/speaker/SpeakerStretchLoading';

export default {
    components: {
        SpeakerCircleLoading, SpeakerStretchLoading
    },
    props: {
        script : {
            type: [Object],
            default : {}
        },
        isPlaying : {
            default : false
        },
        index : {
            type : [Number],
        }
    },
    data() {
        return {
            AvatarSize: '40px'
        }
    },
    computed: {
        ...mapState('speaker', {
            palettes : 'palettes'
        }),

        ...mapGetters('job', {
            countJobSpeakers: 'countJobSpeakers',
            getJobSpeaker: 'getJobSpeaker',
            getJobSpeakerIndex: 'getJobSpeakerIndex'
        }),
        ...mapGetters('player', {
            getIsPlaying: "getIsPlaying"
        }),
        speaker() {
            return this.getJobSpeaker(this.script.speakerId);
        },
        speakerFaceUrl() {
            return require(`@/assets/images/speaker/${this.speaker.imgUrl || 'avatar-male.jpg'}`);
        },
        circleBorderColorIdx() {
            return this.getJobSpeakerIndex(this.speaker.speakerId) % this.countJobSpeakers();
        },
        circleBorderColor() {
            return this.palettes[this.circleBorderColorIdx];
        },
        isConverting() {
            return this.script.ttsState === 'C';
        },
        isPlayEnable() {
            return this.script.ttsState === 'S';
        },
    },
    methods: {
        avatarWrapperStyles() {
            return {
                width: this.AvatarSize,
                height: this.AvatarSize,
                'border-radius': '50%',
                'background' : `url(${this.speakerFaceUrl}) 0% 0% / ${this.AvatarSize}`,
                'border' : `2px solid ${this.circleBorderColor}`,
                'text-align' : 'center',
                'line-height' : this.AvatarSize
            }
        },
        avatarButtonClasss() {
            return {
                "player-button" : this.isPlayEnable,
                "effect" : !this.isPlaying,
                "circle" : !this.isPlaying
            }
        },
        btnPlayScriptClicked () {
            this.$emit('notify:playScriptClicked', this.isPlayEnable);
        }
    },
}
</script>

<style lang="scss" scoped>
     @import '~styles/font-awesome';
    @import '~styles/animate';
    @import '~styles/speakers';
    .avatarWrapper {
        padding: 0px;
        -webkit-box-sizing:content-box;
        box-sizing: content-box;
    }
    .speakerFace {
        position:relative;
        float:left;
        background-size:cover;
        background-position:50%;
        -webkit-transition:all .3s ease;
        transition:all .3s ease;
        cursor:pointer;
    }
    // .selectionMode .speakerFace {
    //     cursor: unset;
    // }
    .selectionMode .player-button {
        cursor: unset;
    }
    .speakerFace:hover .player-button {
        opacity:1
    }
    .player-button {
        margin: 6px auto;
        line-height: 26px;
        width:26px;
        height:26px;
        text-align:center;
        vertical-align:middle;
        cursor:pointer;
        .fa {
            width:100%;
            height:100%;
            color: white;
        }
    }
    .player-button.circle {
        border:2px solid #fff;
        border-radius:50%;
    }
    .player-button.effect {
        opacity:.8;
        text-shadow:0 1px 1px rgba(0,0,0,.2);
        box-shadow:0 1px 1px rgba(0,0,0,.2);
        background:rgba(0,0,0,.2);
        transition:all .1s ease;
    }
</style>