<template>
    <span :class="buttonWrapperClasses" @click="clicked">
        <i class="fa" :class="iconNm"></i>
    </span>
</template>

<script>
export default {
    props: {
        group : {
            type: Boolean,
            default: false
        },
        horizon: {
            type: String,
            default: ''
        },
        icon: {
            type: String,
            default: ''
        },
    },
    
    computed: {
        buttonWrapperClasses() {
            return {
                'input-group-addon' : this.group,
                'right-btn' : this.horizon === 'right',
                'left-btn' : this.horizon !== 'right'
            }
        },
        iconNm() {
            if(this.icon) {
                return `fa-${this.icon}`;
            }
            return '';
        }
    },
    methods: {
        clicked () {
            this.$emit('notify:clicked');
        }
    },
}
</script>

<style lang="scss" scoped>
    @import '~styles/font-awesome';
    .player-button {
        margin: 6px auto;
        line-height: 26px;
        width:26px;
        height:26px;
        text-align:center;
        vertical-align:middle;
        cursor:pointer;
        .fa {
            width:100%;
            height:100%;
        }
    }
    .player-button.circle {
        border:2px solid #fff;
        border-radius:50%;
    }
    .player-button.effect {
        opacity:.8;
        text-shadow:0 1px 1px rgba(0,0,0,.2);
        box-shadow:0 1px 1px rgba(0,0,0,.2);
        background:rgba(0,0,0,.2);
        transition:all .1s ease;
    }
    .fa-play, .fa-pause { 
        color: white;
        cursor:pointer;
    }
    
    .play-pic:hover .player-button {
        opacity:1
    }
    
    .right-btn {
        cursor:pointer;
    }
</style>