<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container" :style="computedContainerClasses">
                    <div class="modal-header">
                        <slot name="header">
                            default header
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            default body
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            default footer
                            <button class="modal-default-button" @click="$emit('close')">OK</button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            width: {
                type: Number,
                default: 300,
            },
            backgroundColor: {
                type: String,
                default: "ffffff",
            }
        },
        computed: {
            computedContainerClasses() {
                return {
                    "width": `${this.width}px`,
                    "background-color": `#${this.backgroundColor}`,
                }
            }
        },
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-wrapper .ibox-content {
        padding: 30px 30px 10px 30px ;
    }

    .modal-wrapper .table {
        margin: 0 ;
        background: #fff ;
    }
    .modal-wrapper .table thead tr {
        border: none ;
    }
    .modal-wrapper .table thead th {
        padding: 5px 10px ;
        color: #8b939c;
        font-size: 13px ;
        font-weight: 700 ;
        text-align: left ;
        border: none ;
        border-bottom: 1px solid #eceef3 ;
        background-color: #f5f7f9 ;
    }
    ​ .modal-wrapper .table thead th:focus {
        border: none ;
    }
    .modal-wrapper .table thead th div {
        font-size: 13px ;
        font-weight: 700 ;
        text-align: left ;
    }
    .modal-wrapper .table tbody td {
        padding: 8px 10px ;
        font-size: 13px ;
        font-weight: 500 ;
        text-align: left ;
        border: none ;
        border-bottom: 1px solid #eceef3 ;
    }
    .modal-wrapper .table tbody td:focus {
        border: none ;
    }
    .modal-wrapper .table tbody td div {
        font-size: 13px ;
        font-weight: 500 ;
        text-align: left ;
    }
    .modal-wrapper table tr:first-of-type {
        border: none ;
    }

    .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 0;
        background-color: #eff1f7;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header {
        padding: 30px 0 20px 0;
        border: none;
        background: #fff;
    }

    .modal-header div {
        display: block;
        width: 100%;
        text-align: center;
    }

    .modal-header h3 {
        margin: 0;
        color: #3599ff;
        font-size: 20px;
        text-align: center;
        letter-spacing: -1px;
    }

    .modal-body {
        margin: 0;
        padding: 0 ;
    }

    .modal-footer {
        padding: 0 !important;
        border: none !important ;
    }

    .modal-footer > * {
        margin: 0 !important ;
    }

    .modal-footer div {
        display: block ;
        width: 100% ;
        margin: 0 ;
        padding: 20px 0 20px 0 ;
        text-align: center ;
        background: #fff ;
    }
    .modal-footer div.buttons {
        display: block ;
        width: 100% ;
        padding: 20px 0 30px 0 ;
        text-align: center ;
        background: #fff ;
    }
    .modal-footer div button {
        height: 36px ;
        padding: 0 15px ;
        color: #fff ;
        border: 1px solid rgba(0, 0, 0, 0.1) ;
        background: #697995 ;
    }
    .modal-footer div button.btn-success {
        background: #3599ff ;
    }
    .modal-footer div button.btn-info {
        background: #3599ff ;
    }
    .modal-footer div button.btn-primary {
        background: #3599ff ;
    }
    ​ .modal-footer div button.page-link {
        height: auto ;
        padding: 0.5rem 0.75rem ;
        color: #3599ff ;
        border: 1px solid #dee2e6 ;
        background: #fff ;
    }
    .modal-footer .active button.page-link {
        color: #fff ;
        border-color: #3599ff ;
        background-color: #3599ff ;
    }
    .modal-footer .buttons {
        margin: 20px 0 0 0 ;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

</style>