@charset "utf-8";
/* MINDsLab YMJ 20180128 */

/* [reset css] */
* {font-family:"Noto Sans KR", sans-serif;}
html,body {margin:0; padding:0; width:100%; height:100%; font-family:"Noto Sans KR", sans-serif; font-size:12px; color:#35384d; line-height:18px;background-color: #fff;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,legend,em,span {margin:0; padding:0; font-family:"Noto Sans KR", sans-serif;}
table {border-spacing:0; border-collapse:collapse; font-family:"Noto Sans KR", sans-serif;}
th, td {word-break:break-all;}
form,fieldset {display:block;}
form,fieldset,img {border:none;}
address,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:normal;}
ol,ul,li {list-style:none;}
abbr,acronym {border:none;}
hr {display:none;}
a {text-decoration:none; color:#35384d; cursor:pointer; font-family:"Noto Sans KR", sans-serif;}
a:link,a:visited {text-decoration:none;}
a:hover,a:active,a:focus {color:#35384d; text-decoration:none;}
textarea {overflow:auto; resize: none;}
html:first-child select {min-height:20px;} /* opera 9 & below fix */
option {padding-right:6px;} /* firefox fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* for screen reader */
pre {word-wrap:break-word;}
label {font-family:"Noto Sans KR", sans-serif;}
h1,h2,h3,h4,h5,h6 {font-family:"Noto Sans KR", sans-serif;}
br {background:none !important;}
img {vertical-align:top;}
a:focus, input:focus, textarea:focus, button:focus {outline:none !important;}
button {cursor:pointer;}

/* -------------------- header -------------------- */
#header {
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
  border-bottom: 1px solid #cfd5eb;
  box-sizing: border-box;
  background: #fff;
  z-index: 99;
}

#header .group_flex {
  display: inline-block;
  clear: both;
  width: 1220px;
  padding: 0 59px;
  text-align: right;
  box-sizing: border-box;
}

#header h1 {
  float: left;
  margin: 17px 0 0 0;
}

#header h1 a {
  display: block;
  width: 114px;
  height: 46px;
}

#header h1 a img {
  width: 100%;
  height: 100%;
}

#header .sta {
  float: right;
  height: 80px;
}

.gnb {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.gnb ul.nav {
}

.gnb ul.nav li {
}

.gnb ul.nav li a {
  float: left;
  height: 24px;
  margin: 31px 25px 0 0;
  color: #002b49;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* service menu  */
#menu {
  display: inline-block;
  float: none;
  position: relative;
  width: 145px;
  margin: 19px 22px 0 0;
  vertical-align: top;
}

#menu > ul {
  height: auto;
  border: 1px solid #002b49;
  border-radius: 3px;
}

#menu > ul li p {
  line-height: 44px;
  font-size: 14px;
  font-weight: 600;
  color: #002c49;
  display: block;
  border-radius: 3px 3px 0 0;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

#menu > ul li p em.fa-angle-up {
  display: none;
}

#menu > ul.active {
  height: auto;
  border: 1px solid #002c49;
}

#menu > ul.active li p {
  background: #fff;
  color: #1f2e3b;
}

#menu > ul.active li p em.fa-angle-down {
  display: none;
}

#menu > ul.active li p em.fa-angle-up {
  display: inline-block;
}

#menu > ul.active li.active a {
  color: #14b6cb;
}

#menu ul.dropdown-menu {
  display: none;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 3px 3px;
  background: #fff;
  padding: 4px 0 8px;
  border-top: 1px dotted #cfd5eb;
}

#menu ul.dropdown-menu li {
  display: block;
  text-align: center;
  color: #1f2e3b;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  transition: all 0.3s ease-in-out;
}

#menu ul.dropdown-menu li:hover a {
  display: block;
  color: #14b6cb;
  transition: all 0.3s ease-out;
}

#menu ul.dropdown-menu a {
  width: 100%;
  color: #1f2e3b;
  font-size: 14px;
  letter-spacing: -0.31px;
  border: none;
  height: 30px;
  line-height: 30px;
}

/* Language  */
.sta .lang_box {
  display: inline-block;
  margin: 23px 0 0;
}

.sta .lang_box span {
  display: block;
  height: 14px;
  line-height: 14px;
  margin: 0 0 9px 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: #1f2e3b;
  opacity: 0.9;
  text-align: left;
}

.sta .lang_box span a {
  opacity: 0.4;
  color: #1f2e3b;
  font-weight: 400;
}

/* 모바일 메뉴 */
.aside {
  display: block;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: 1000;
  background-color: #f5f6fa;
  box-shadow: 3px 0 7px #000;
}

.aside .aside_top {
  display: block;
  height: 145px;
  box-sizing: border-box;
  padding: 20px 44px 0;
  background: #fff;
}

.aside .aside_top h1 {
  float: left;
  text-align: center;
  margin: 8px 0 0 10px;
}

.aside .aside_top h1 a {
  display: block;
}

.aside .aside_top h1 img {
  height: 100%;
}

.aside .aside_top a.btn_sign {
  display: block;
  width: 100%;
  margin: 20px auto;
  box-sizing: border-box;
  height: 42px;
  border: 1px solid #002b49;
  border-radius: 3px;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
  color: #002b49;
}

.aside .aside_mid {
  display: block;
  padding: 50px 44px;
  height: calc(100% - 212px);
  overflow: auto;
}

.aside .aside_mid .m_nav {
  clear: both;
  overflow: hidden;
}

.aside .aside_mid .m_nav li {
  clear: both;
  overflow: hidden;
}

.aside .aside_mid .m_nav li h2 {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.67;
  letter-spacing: -0.35px;
  text-align: center;
  color: #002b49;
}

.aside .aside_mid .m_nav li h2 em {
  font-size: 13px;
}

.aside .aside_mid .m_nav li h2 span {
  display: block;
  color: #999;
  font-size: 15px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;
}

.aside .aside_mid .m_nav li ul.m_lst {
  display: block;
  border: solid 1px #d2dde4;
  padding: 8px 0;
  background: #fff;
}

.aside .aside_mid .m_nav li ul.m_lst li {
  display: block;
  text-align: center;
}

.aside .aside_mid .m_nav li ul.m_lst li h3 {
  clear: both;
  overflow: hidden;
}

.aside .aside_mid .m_nav li ul.m_lst li h3 a {
  display: block;
  height: 32px;
  padding: 0 18px;
  font-size: 1.2rem;
  font-weight: normal;
  background-color: #fff;
  line-height: 32px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #002b49;
}

.aside .aside_mid .m_nav li ul.m_lst li h3 a span {
  display: inline-block;
  padding: 0 0 0 30px;
  background-size: 20px !important;
}

.aside .aside_mid .m_nav li ul.m_lst li.active a {
  color: #14b6cb;
}

.aside .aside_btm {
  display: block;
  padding: 0 25px 28px 0;
}

.aside .aside_btm ul {
  clear: both;
  text-align: center;
  overflow: hidden;
}

.aside .aside_btm ul li {
  display: inline-block;
  margin-right: 32px;
  text-align: center;
}

.aside .aside_btm ul li:last-child {
  margin: 0;
}

.aside .aside_btm ul li span {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  letter-spacing: -0.31px;
  text-align: center;
  color: #002b49;
}

.aside .aside_btm ul li span a {
  color: #002b49;
  opacity: 0.3;
}

.bg_aside {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1.0);
  opacity: 1.0;
  z-index: 100;
}

/* header_햄버거버튼 */
.btn_header_ham {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1000;
  border: none;
  box-sizing: border-box;
  background: none;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn_header_ham.active {
  position: fixed;
  right: 0;
  opacity: 1.0;
}

.hamburger_icon {
  position: relative;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -13px;
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
}

.hamburger_icon, .hamburger_icon:before {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(0, 44, 73);
}

.hamburger_icon:after {
  display: block;
  top: 9px;
  right: 0;
  width: 15px;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(0, 44, 73);
}

.hamburger_icon:before, .hamburger_icon:after {
  position: absolute;
  content: "";
}

.hamburger_icon:before {
  top: -9px;
  background-color: rgb(0, 44, 73);
}

.btn_header_ham.fixed_ham .hamburger_icon,
.btn_header_ham.fixed_ham .hamburger_icon:before,
.btn_header_ham.fixed_ham .hamburger_icon:after {
  background-color: #002b49;
}
