<template>
  <div>
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1>{{ httpStatus }}</h1>
        </div>
        <h2>the page you requested could not be found</h2>
        <p>{{ message }}</p>
        <button class="btn btn-success btn-sm" @click="$router.go(-1)">Go back</button>
      </div>
    </div>

    <!-- #footer -->
    <div id="footer">
      <div class="lot_c">
        <div class="cyrt">
          <p><a href="https://mindslab.ai:8080/kr/company" target="_blank"><strong>주식회사 마인즈랩 </strong></a>
            경기도 성남시 분당구 대왕판교로644번길 49 다산타워 6층&nbsp;&nbsp;ㅣ&nbsp;&nbsp;<span>대표 유태준&nbsp;&nbsp;ㅣ&nbsp;&nbsp;사업자 등록번호 314-86-55446</span>
            <strong class="footer_link"><a href="/home/pricingPage">가격정책</a><a href="/home/krTermsMain">이용약관</a><a
                href="mailto:hello@mindslab.ai">hello@mindslab.ai</a></strong>
          </p>
        </div>
        <!-- 			<div class="cyrt"><span>MINDsLab &copy; 2019</span></div> -->
      </div>
    </div>
    <!-- //#footer -->
  </div>
</template>

<script>

export default {
  props: ['httpStatus', 'message'],
}
</script>

<style lang="scss" scoped>
@import '~styles/font-awesome';

/* footer */
#footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 30px;
  color: white;
  font-size: 11px;
  text-align: center;
  line-height: 30px;
}

#footer p {
  height: 5px;
  line-height: 30px;
  font-style: normal;
}

#footer p a {
  color: white;
}

#footer p strong {
  margin: 0 10px 0 0;
}

#footer p strong.footer_link {
  font-weight: 400;
  display: inline-block;
}

#footer p strong.footer_link a {
  margin: 0 0 0 40px;
  font-weight: bold;
  transition: all 0.3s ease-out;
  color: white;
}

#footer p strong.footer_link a:hover {
  color: #0080df;
  transition: all 0.3s ease-out;
}

//Imported

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 96vh;
  background: #f6f6f6;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  padding: 110px 40px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
}

.notfound .notfound-404 h1 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 165px;
  font-weight: 700;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
}

.notfound .notfound-404 h1>span {
  color: #00b7ff;
}

.notfound h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #151515;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .notfound h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 141px;
  }
}
</style>