<template>
    <!-- #footer -->
    <div id="footer">
        <div class="btm_menu">
            <div class="cont_box">
                <div class="menu_area">
                    <div class="contact">
                        <p>Contact Us</p>

                        <a href="mailto:${email}"><span class="far fa-envelope"></span>hello@mindslab.ai</a>
                        <a href="tel:+8216613222"><span class="far fa-comments"></span>1661-3222</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="cont_box">
                <span>&copy; Copyright 2020</span>
                <span>(주) 마인즈랩</span>
                <span>경기도 성남시 분당구 대왕판교로644번길 49 다산타워 6층</span>
                <span>대표 유태준</span>
                <span>사업자 등록번호 314-86-55446</span>
                <p>
                    <a href="https://mindslab.ai:8080/kr/company" target="_blank">회사소개</a>
                    <router-link to="/terms">이용약관</router-link>
                    <a href="/terms#conditions" class="co_link ">개인정보처리방침</a>
                </p>
            </div>
        </div>
    </div>
    <!-- //#footer -->
</template>

<script>

</script>

<style lang="scss" scoped>
    /*@import '~styles/all';*/
    /* ---------- footer ---------- */
    #footer {
        font-family:"Noto Sans KR", sans-serif;
        width: 100%;
        height: 127px;
        background: #f5f6fa;
        color: #001c2e;
        box-sizing: border-box;
        font-size: 15px;
        border-top: solid 1px #cfd5eb;
    }

    #footer a {
        color: #001c2e;
        font-size: 15px;
    }

    #footer .btm_menu {
        width: 100%;
    }

    #footer .cont_box {
        position: relative;
        width: 1220px;
        height: 100%;
        margin: 0 auto;
    }

    #footer .btm_menu img {
        width: 100%;
    }

    #footer .btm_menu .menu_area {
        display: inline-block;
        width: 100%;
        margin: 20px 0 0;
        border-radius: 4px;
        text-align: center;
        clear: both;
    }

    #footer .btm_menu .menu_area p {
        display: inline-block;
        margin: 0 20px 0 0;
        font-weight: 700;
        letter-spacing: -0.4px;
    }

    #footer .btm_menu .menu_area .contact > a {
        display: inline-block;
        margin: 10px 0 10px 0;
    }

    #footer .btm_menu .menu_area .contact > a:nth-child(2) {
        margin-right: 10px;
    }

    #footer .btm_menu .menu_area .contact > a span {
        margin: 0 4px 0 0;
    }

    #footer .copyright {
        width: 100%;
        height: 36px;
        text-align: center;
    }

    #footer .copyright span {
        position: relative;
        padding: 0 2px;
        font-size: 13px;
        line-height: 36px;
        letter-spacing: -0.4px;
        color: #001c2e;
        opacity: 0.8;
    }

    #footer .copyright span:nth-child(4), #footer .copyright span:nth-child(5), #footer .copyright p a {
        padding: 0 0 0 16px;
    }

    #footer .copyright span:nth-child(4):before, #footer .copyright span:nth-child(5):before, #footer .copyright p a:before {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        left: 6px;
        width: 1px;
        height: 13px;
        background: #001c2e;
        opacity: 0.8;
    }

    #footer .copyright p {
        display: inline;
    }

    #footer .copyright p a {
        position: relative;
        font-size: 13px;
        line-height: 36px;
        letter-spacing: -0.4px;
        color: #001c2e;
        opacity: 0.8;
    }

    /* Mobile Layout */
    @media screen and (max-width: 768px) {
        #footer {
            background: #fff;
        }
        #footer .cont_box {
            width: 100%;
            padding: 0 10px;
            box-sizing: border-box;
        }
        #footer .btm_menu {
            height: auto;
        }
        #footer .btm_menu .cont_box > a {
            display: none;
        }
        #footer .btm_menu .menu_area {
            width: 100%;
            margin: 10px 0 0;
        }
        #footer .btm_menu .menu_area > div {
            float: unset;
        }
        #footer .btm_menu .menu_area .contact {
            padding: 0;
            border-left: none;
            font-size: 1rem;
        }
        #footer .btm_menu .menu_area .contact > a {
            font-size: 1rem;
        }
        #footer .copyright {
            height: auto;
        }
        #footer .copyright span {
            font-size: 10px;
            line-height: 23px;
        }
        #footer .copyright p {
            display: block;
        }
        #footer .copyright p a {
            font-size: 10px;
        }

    }


</style>