<template>
    <div>
        <div class="aside" style="display:none;">
            <!-- .aside_top -->
            <div class="aside_top">
                <h1><a href="/"><img src="/image/maumai.svg" alt="maumAI logo"></a></h1>
            </div>
            <!-- //.aside_top -->
            <!-- .aside_mid -->
            <div class="aside_mid">
                <ul class="m_nav">
                    <li>
                        <h2>서비스 바로가기 <i class="fa fa-chevron-down"></i></h2>
                        <ul class="m_lst">
                            <li class="active">
                                <h3><a href="https://builder.maum.ai/landing/?lang=ko">AI Builder</a></h3>
                            </li>
                            <li>
                                <h3><a href="https://maum.ai/serviceLanding/krCloudApiMain">Cloud API</a></h3>
                            </li>
                            <li>
                                <h3><a href="https://minutes.maum.ai/?lang=ko">maum 회의록</a></h3>
                            </li>
                            <li>
                                <h3><a href="https://fast-aicc.maum.ai/?lang=ko">FAST 대화형 AI</a></h3>
                            </li>
                            <li>
                                <h3><a href="https://data.maum.ai/?lang=ko">maum DATA</a></h3>
                            </li>
                            <li>
                                <h3><a href="https://ttsbuilder.maum.ai/?lang=ko">TTS Builder</a></h3>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2><a href="https://maum.ai/home/pricingPage">가격정책</a></h2>
                    </li>
                </ul>
            </div>
            <!-- //.aside_mid -->

            <!-- .aside_btm -->
            <div class="aside_btm">
<!--                <ul>-->
<!--                    <li class=""><span>한국어</span></li>-->
<!--                    <li class=""><span><a href="?lang=en">English</a></span></li>-->
<!--                </ul>-->
            </div>
            <!-- //.aside_btm -->
        </div>

        <div class="bg_aside"></div>
        <a class="btn_header_ham" href="#none"><span class="hamburger_icon"></span></a>
        <!-- //aside -->


        <!-- #header -->
        <div id="header">
            <!-- .group_flex -->
            <div class="group_flex">
                <h1>
                    <a href="https://maum.ai/" target="_blank"><img :src="require(`@/assets/images/login/maumai.svg`)"
                                                                    alt="maum.ai logo"/></a>
                </h1>
                <!-- .sta -->
                <div class="sta">
                    <!-- .GNB-->
                    <div class="gnb">
                        <ul class="nav">
                            <li><a href="https://maum.ai/home/pricingPage" target="_blank">가격정책</a></li>
                        </ul>
                    </div>
                    <!-- .GNB-->
                    <!-- #menu(service menu) -->
                    <div id="menu">
                        <ul>
                            <li>
                                <p class="service_btn">서비스 바로가기 &nbsp;&nbsp;
                                    <em class="fa fa-angle-down"></em>
                                    <em class="fa fa-angle-up"></em>
                                </p>
                                <ul class="dropdown-menu">
                                    <li class="active"><a href="https://builder.maum.ai/landing?lang=ko"
                                                          title="AI Builder" target="_self">AI Builder</a></li>
                                    <li><a href="https://maum.ai/serviceLanding/krCloudApiMain" title="클라우드 API"
                                           target="_blank">Cloud API</a></li>
                                    <li><a href="https://minutes.maum.ai/?lang=ko" title="회의록 바로가기" target="_blank">maum
                                        회의록</a></li>
                                    <li><a href="https://fast-aicc.maum.ai/?lang=ko" target="_blank" title="대화형 AI">FAST
                                        대화형 AI</a></li>
                                    <li><a href="https://data.maum.ai/?lang=ko" target="_blank" title="데이터 서비스">maum
                                        DATA</a></li>
                                    <li><a href="https://ttsbuilder.maum.ai/?lang=ko" target="_blank" title="데이터 서비스">TTS Builder
                                        </a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- //#menu(service menu) -->
                    <!-- language -->
                    <div class="lang_box">
                        <span>한국어</span>
                        <span><a href="?lang=en" target="_self" title="English">English</a></span>
                    </div>
                    <!-- //language -->
                </div>
                <!-- //.sta -->
            </div>
        </div>
        <!-- //#header -->
    </div>
</template>

<script>
    import $ from 'jquery'

    export default {
        name: 'LoginHeader',
        mounted() {
            let lang_code = "kr";

            $(document).ready(function () {
                $(".dropdown-menu li a").on('click', function () {
                    $('.dropdown-menu').hide().parent().parent().removeClass('active');
                    $(".lst").hide().parent().parent().removeClass('active');
                });
                $(".service_btn").on('click', function () {
                    $(this).parent().parent().toggleClass('active');
                    $(".dropdown-menu").slideToggle(200);
                });
                $('#container').on('click', function () {
                    $('.dropdown-menu').hide().parent().parent().removeClass('active');
                    $(".lst").hide().parent().parent().removeClass('active');

                });


                //aside menu
                var clicked = false;
                var asideWidth = $(window).width();
                $('.aside').show();

                $('a.btn_header_ham').click(function () {
                    if (!clicked) {
                        $(this).addClass('active');
                        $('.aside').animate({
                            width: asideWidth
                        }, {duration: 200, queue: false});
                        $('body').css({
                            overflow: 'hidden'
                        });
                        clicked = true;
                    } else {
                        $(this).removeClass('active');
                        $('.aside').animate({
                            width: '0'
                        }, {duration: 200, queue: false});
                        $('body').css({
                            overflow: ''
                        });
                        clicked = false;
                    }
                });

                $('.bg_aside').on('click', function () {
                    $('a.btn_header_ham').removeClass('active');
                    $('.aside').animate({
                        width: '0'
                    }, {duration: 200, queue: false});
                    $('.btn_goTop').show();

                    $('.bg_aside').animate({
                        opacity: 0,
                        display: 'none'
                    }, {duration: 150, queue: false});

                    $('body').css({
                        overflow: ''
                    });
                    clicked = false;
                });
            })

        }
    }
</script>

<style lang="scss" scoped>
    @import '~styles/font-awesome';
    @import '~styles/header.scss';

</style>