<template>
    <div style="width: 100%">
        <!-- #wrap -->
        <div id="wrap">
            <!-- #container -->
            <div id="container">
                <!-- #contents -->
                <div id="contents">
                    <!-- .content -->
                    <div class="content">
                        <!-- .section -->
                        <form id="payForm" name="payForm">
                            <!-- .section -->
                            <div class="stn contBoxType">
                                <div class="tbl_top_info">
                                    <!-- .search_box -->
                                    <div class="search_box">
                                        <div class="search_list">
                                            <span class="title">결제 수단</span>
                                            <div class="select_type">
                                                <select id="select_payment" v-model="selectPayment">
                                                    <option></option>
                                                    <option>Card</option>
                                                    <!--                          <option>Paypal</option>-->
                                                </select>
                                            </div>
                                            <!--                      <span class="title">결제일</span>-->

                                            <!--                      <div class="select_type date_type">-->
                                            <!--                        <input type="text" id="payDayStart" v-model="payDayStart" name="payDayStart" class="ipt_txt"-->
                                            <!--                               value="" placeholder="from" autocomplete="off">-->
                                            <!--                        <span class="hyphen">-</span>-->
                                            <!--                        <input type="text" id="payDayEnd" v-model="payDayEnd" name="payDayEnd" class="ipt_txt" value=""-->
                                            <!--                               placeholder="to" autocomplete="off">-->
                                            <!--                      </div>-->
                                            <span class="title">Membership</span>
                                            <div class="select_type">
<!--                                                <input type="text" id="searchProductName" v-model="productName"-->
<!--                                                       name="productName" placeholder="상품명" title="Membership"-->
<!--                                                       value="">-->
                                                <select id="searchProductName" v-model="productName">
                                                    <option></option>
                                                    <option value="Free">Free</option>
                                                    <option value="Unsubscribing">Unsubscribing</option>
                                                    <option value="Basic">Basic</option>
                                                    <option value="Pro">Pro</option>
                                                    <option value="Proplus">Proplus</option>
                                                </select>
                                            </div>
                                            <span class="title">회원구분</span>
                                            <div class="select_type">
                                                <select id="select_role" v-model="roleName">
                                                    <option></option>
                                                    <option value="ROLE_FREE">무료회원</option>
                                                    <option value="ROLE_PAID">유료회원</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="search_list">
                                            <span class="title">거래상태</span>
                                            <div class="select_type">
                                                <select id="select_status" v-model="selectedStatus">
                                                    <option></option>
                                                    <option value="00">승인</option>
                                                    <option value="99">취소</option>
                                                </select>
                                            </div>

                                            <span class="title">회차</span>
                                            <div class="radio_type" id="radio_type">
                                                <input id="payCount" v-model="payCount" name="payCount" type="number"
                                                       placeholder="" title="회차"
                                                       class="short_int" value="">
                                                <small>회차</small>
                                                <div class="radio">
                                                    <input type="radio" id="up" v-model="payCountRange"
                                                           name="payCountRange" value="GTE"><label
                                                        for="up">이상</label>
                                                </div>
                                                <div class="radio">
                                                    <input type="radio" id="under" v-model="payCountRange"
                                                           name="payCountRange" value="LTE"><label
                                                        for="under">이하</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="search_list">
                                            <span class="title">Name</span>
                                            <div class="select_type">
                                                <input type="text" id="searchName" v-model="userName" name="name"
                                                       placeholder="고객명" title="Name"
                                                       value="">
                                            </div>
                                            <span class="title">Email</span>
                                            <div class="select_type">
                                                <input type="email" id="searchEmail" v-model="userEmail" name="email"
                                                       placeholder="이메일"
                                                       title="Email" value="">

                                            </div>
                                            <span class="title">Company</span>
                                            <div class="select_type">
                                                <input type="text" id="searchCompany" v-model="userCompany"
                                                       name="company" placeholder="회사"
                                                       title="Company" value="">
                                            </div>
                                            <span class="title">최신날짜</span>
                                            <div class="select_type">
                                                <input type="checkbox" id="checkLatest" name="최신날짜" value="latestOnly" v-model="latestOnly">
                                            </div>

                                        </div>
                                        <div class="btnBox sz_small">
                                            <button type="button" class="btnS_basic" @click="getPaymentInfo">내역조회
                                            </button>
                                        </div>
                                    </div>
                                    <!-- //.search_box -->
                                </div>


                            </div>
                            <!-- //.section -->
                        </form>
                    </div>
                    <!-- //.content -->
                </div>
                <!-- //#contents -->
            </div>
            <!-- //#container -->
        </div>
        <!-- //#wrap -->

        <!--//내역조회 리스트-->
        <div class="stn_cont">
            <div class="tbl_box">
                <b-table
                        id="payment_tbl"
                        class="tbl_line_lst"
                        :items="payments"
                        :per-page="perPage"
                        :fields="fields"
                        :current-page="currentPage"
                        show-empty
                >
                    <template #cell(index)="data">
                        {{ data.index + 1 }}
                    </template>
                    <template v-slot:cell(canCancel)="data">
                        <button @click="cancelPayment(data.item.tid)" type="button">Cancel</button>
                    </template>

                </b-table>
            </div>
        </div>

        <div id="pagination">
            <b-pagination
                    class="listPagination"
                    v-model="currentPage"
                    :total-rows="payments.length"
                    :per-page="perPage"
                    aria-controls="payment_tbl"
                    align="center">
            </b-pagination>
        </div>


    </div>

</template>

<script>
    import Vue from 'vue';
    import paymentRepository from "@/repositories/paymentRepository";
    import axios from "axios";
    import router from "@/routes";


    // Register components in your 'main.js'

    const API_BASE_URL = process.env.API_BASE_URL;

    export default {

        data() {
            return {
                payments: [],
                perPage: 8,
                currentPage: 1,
                selectPayment: '',
                payDayStart: '',
                payDayEnd: '',
                termPicked: '',
                selectedStatus: '',
                payCount: '',
                payCountRange: '',
                userName: '',
                userEmail: '',
                userCompany: '',
                productName: '',
                roleName: '',
                latestOnly: '',
                fields: [
                    {key: 'index', label: 'No.'},
                    {key: 'name', label: 'Name'},
                    {key: 'userId', label: 'Email'},
                    {key: 'phoneNumber', label: 'Phone'},
                    {key: 'company', label: 'Company'},
                    {key: 'payment', label: 'Payment'},
                    {key: 'productName', label: '상품명',  sortable: true},
                    {key: 'price', label: '요청금액'},
                    {key: 'currency', label: '통화구분'},
                    {key: 'createDate', label: '승인일자',  sortable: true},
                    {key: 'cancelledDate', label: '취소일자',  sortable: true},
                    {key: 'cardName', label: '카드계열'},
                    {key: 'status', label: '거래상태'},
                    {key: 'canCancel', label: '거래취소'},
                    {key: 'payCount', label: '회차'}],
            }
        },
        async created() {
            this.getPaymentInfo()
        },
        methods: {
            cancelPayment(tid) {
                paymentRepository.cancelPayment(tid, this.$store.state.loginUser).then((res) => {
                    const result = res.data.status;
                    if (result == "SUCCESS") {
                        alert('취소 완료되었습니다.');
                    } else
                        alert('취소 중 오류가 생겼습니다.');

                }).catch(e => {
                    router.push({name: 'ErrorHandlingPage', params: e.response.data});
                });
            },

            getPaymentInfo() {
                try {
                    let isFiltered = false;
                    let isLatestOnly = false;
                    if (this.selectPayment != ""
                        || this.termPicked != "" || this.selectedStatus != "" || this.payCount != ""
                        || this.payCountRange != "" || this.userName != "" || this.userEmail != ""
                        || this.userCompany != "" || this.productName != "" || this.roleName != "" || this.latestOnly != "") {
                        isFiltered = true;
                    }
                    if (this.latestOnly != "") {
                        isLatestOnly = true;
                    }

                    paymentRepository.getPaymentFilterResponseInfo({
                        isFiltered: isFiltered,
                        isLatestOnly: isLatestOnly,
                        selectPayment: this.selectPayment,
                        // payDayStart: this.payDayStart,
                        // payDayEnd: this.payDayEnd,
                        termPicked: this.termPicked,
                        selectedStatus: this.selectedStatus,
                        payCount: this.payCount,
                        payCountRange: this.payCountRange,
                        userName: this.userName,
                        userEmail: this.userEmail,
                        userCompany: this.userCompany,
                        productName: this.productName,
                        roleName: this.roleName

                    }).then((res) => {
                        const data = res.data;
                        this.payments = data;
                    });

                } catch (e) {
                    alert("Payment 내역 조회 오류가 발생했습니다.");
                }
            },
        },
        beforeCreate() {
            document.body.className = 'admin'
        }
    }
</script>

<style scoped>
    /* select */
    .select {
        display: inline-block;
        min-width: 100px;
        padding: 5px;
        font-family: inherit;
        color: rgba(59, 68, 91, 1.0);
        border: 1px solid rgba(59, 68, 91, 0.5);
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        transition: all 0.3s ease-out;
    }

    .select:focus {
        border: 1px solid rgba(59, 68, 91, 0.4);
        transition: all 0.3s ease-out;
    }

    .select:disabled {
        background-color: rgba(59, 68, 91, 0.1);
        opacity: 0.6;
    }


    .selectbox label {
        position: absolute;
        top: 1px;
        left: 10px;
        padding: 0;
        color: rgba(59, 68, 91, 0.8);
        font-size: 13px;
        z-index: -1;
    }

    .selectbox select {
        width: 100%;
        height: 100%;
        padding: 0 30px 0 0;
        font-family: inherit;
        font-size: 13px;
        border: 0;
        opacity: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }


    .selectbox.focus label {
        color: rgba(59, 68, 91, 1.0);
    }

    /* checkbox */


    .ipt_check_only input[type="checkbox"] {
        padding: 0;
        margin: -1px;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .ipt_check_only input[type="checkbox"]:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        margin: -1px 0 0 0;
        line-height: 15px;
        text-align: center;
        border: 1px solid rgba(59, 68, 91, 0.4);
        border-radius: 3px;
        background: #fff;
    }

    .ipt_check_only input[type="checkbox"]:checked:before {
        content: '';
        border-color: orange;
        background: orange;
    }

    .ipt_check_only input[type="checkbox"]:checked:after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 7px;
        height: 3px;
        border: 2px solid #fff;
        border-top-style: none;
        border-right-style: none;
        transform: rotate(-45deg);
    }

    /* radio */
    .radio {
        position: relative;
        float: left;
        margin: 3px 0 0 0;
        min-width: 14px;
        vertical-align: top;
        cursor: pointer;
    }

    .radio label {
        line-height: 30px;
        padding-left: 30px;
    }

    .radio label:empty {
        padding-left: 14px;
    }

    .radio label:before,
    .radio label:after {
        content: "";
        position: absolute;
        left: 5px;
        top: 10px;
        border-radius: 10px;
        transition: all 0.2s ease-out;
    }

    .radio label:before {
        width: 18px;
        height: 18px;
        border: 1px solid #b1bed5;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        -webkit-transition: background .3s ease;
        transition: background .3s ease;
        -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .1);
        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .1);
        top: 5px;
        left: 0px;
    }

    .radio input[type="radio"] {
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        transition: all 0.2s ease-out;
    }

    .radio input[type="radio"]:checked + label:before {
        background: #fff;
    }

    .radio input[type="radio"]:checked + label:after {
        top: 10px;
        left: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #6b87e0;
        transition: all 0.2s ease-out;
    }

    .radio + .radio {
        margin-left: 16px;
    }

    .radio label i {
        margin: 0 5px 0 0;
    }


    .tbl_top_info {
        display: block;
        clear: both;
        overflow: hidden;
        padding: 10px 0 30px 0;
        text-align: center;
        margin: auto;
        width: 100%;
    }

    .tbl_top_info .search_box {
        position: relative;
        overflow: hidden;
        margin: 0 0 10px 0;
        border: 1px solid #c3c8dc;
        border-radius: 5px;
        background: #fff;
        box-sizing: border-box;
        width: 1600px;
        padding: 20px 40px 0;
        margin: 0 auto
    }

    .tbl_top_info .search_box input {
        width: 80%;
        float: left;
        height: 30px;
        padding-left: 10px;
        border-radius: 5px;
        border: 1px solid #b2bfd6;
        font-size: 12px;
        background: #f5f7fb;
        box-sizing: border-box;
        color: #313759;
    }

    .tbl_top_info .search_box input:focus {
        border: 1px solid #6b87e0;
        border-radius: 5px;
    }

    .tbl_top_info .search_box input.ipt_txt {
        background: #f5f7fb right 7px top 50% no-repeat;
        color: #313759;
    }

    .tbl_top_info .search_box input.short_int {
        width: 40px;
    }

    .tbl_top_info .search_box input::placeholder {
        color: #9497a9;
    }

    .tbl_top_info .search_box small {
        float: left;
        padding: 13px 0 0 5px;
        color: #313759;
    }

    .tbl_top_info .search_box .btn_result {
        position: absolute;
        top: 23px;
        right: 0;
    }

    .tbl_top_info .search_box .search_list {
        display: block;
        clear: both;
        overflow: hidden;
        margin: 0 0 8px 0%;
    }

    .tbl_top_info .search_box .search_list .block {
        width: 33.33%;
        height: 30px;
        float: left;
        line-height: 30px;
        box-sizing: border-box;
    }

    .tbl_top_info .search_box .search_list span.title {
        min-width: 71px;
        float: left;
        margin: 0;
        font-size: 12px;
        text-align: left;
        line-height: 32px;
        border-radius: 2px;
        color: #313759;
        font-weight: 500;
    }

    .tbl_top_info .search_box .search_list .block span.title {
        min-width: 110px;
    }

    .tbl_top_info .search_box .search_list .input_text {
        float: left;
        line-height: 32px;
        color: #313759;
    }

    .tbl_top_info .search_box .search_list .input_text em {
        color: #8da4ec;
        font-size: 16px;
        margin: 0 0 0 10px;
        cursor: pointer;
    }

    .tbl_top_info .search_box .search_list .btn {
        float: left;
    }

    .tbl_top_info .search_box .search_list .btn button {
        width: 70px;
        height: 32px;
        color: #ffffff;
        border: 1px solid #6b87e0;
        background: #6b87e0;
        border-radius: 4px;
        margin: 0 5px 0 0;
    }

    .tbl_top_info .search_box .search_list .btn button:hover, .tbl_top_info .search_box .search_list .btn button:focus {
        box-shadow: 0 2px 4px rgba(59, 68, 91, 0.4);
        transition: all 0.3s ease-out;
    }

    .tbl_top_info .btnBox {
        padding: 12px 0 15px 0;
        clear: both;
        border-top: dotted 1px #c3c8dc;
        margin: 24px 0 0 0;
    }


    .tbl_top_info .search_box input[type="radio"] {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .tbl_top_info .search_box input[type="radio"]:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 15px;
        height: 15px;
        margin: -1px 0 0 0;
        line-height: 15px;
        text-align: center;
        border: 1px solid rgba(59, 68, 91, 0.4);
        border-radius: 3px;
        background: #fff;
    }

    .tbl_top_info .search_box input[type="radio"]:checked:before {
        content: '\2714';
        color: #fff;
        border-color: orange;
        background: orange;
    }

    /* select */
    .select_type {
        float: left;
        width: 16.5%;
        position: relative;
        vertical-align: middle;
    }

    .select_type > label {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }

    .select_type select {
        overflow: hidden;
        display: block;
        width: 80%;
        height: 30px;
        line-height: 30px;
        box-sizing: border-box;
        color: #313759;
        padding: 0 18px 0 5px;
        border: 1px solid #b1bed5;
        background: #f5f7fb right 7px center no-repeat;
        background-size: 9px 6px;
        text-align: left;
        border-radius: 5px;
        font-size: 12px;
        appearance: none;
        -webkit-appearance: none;
    }

    .select_type select::-ms-expand {
        opacity: 0;
    }

    /* ie10부터 적용 */
    .select_type + .select_type {
        margin-left: 10px;
    }

    .select_type select:hover,
    .select_type select:focus,
    .select_type select:active {
        border: 1px solid #6b87e0;
        border-radius: 5px;
    }

    .select_type .hyphen {
        float: left;
        width: 20px;
        line-height: 32px;
    }
    .select_type #checkLatest {
        width: 24px;
    }
    .radio_type small {
        margin: 0 10px 0 0;
    }

    /*.date_type {width:30%;}*/


    .date_type input.ipt_txt {
        width: calc(40% - 10px);
        float: left;
        min-width: 105px;
    }

    .search_type input.ipt_srch {
        height: 32px;
    }


    .tbl_btm_info .tbl_path strong {
        color: orange;
    }

    /*.paydate_type {width:16.5%;}*/

    /* button */
    .btnBox {
        display: block;
    }

    .btnBox button {
        display: inline-block;
        height: 100%;
        margin: 0 5px 0 0;
        padding: 3px 20px;
        font-size: 13px;
        text-align: center;
        border: 1px solid #999;
        border-radius: 5px;
        background-color: #fff;
        transition: all 0.3s ease-out;
    }

    .btnBox button:hover, .btnBox button:focus {
        box-shadow: 0 2px 4px rgba(59, 68, 91, 0.4);
        transition: all 0.3s ease-out;
    }

    .btnBox button span {
        display: block;
        line-height: 12px;
    }

    .btnBox button img {
        vertical-align: middle;
    }

    .btnBox button:disabled {
        cursor: default;
    }

    .btnBox button:disabled:hover, .btnBox button:disabled:focus {
        text-decoration: none;
        box-shadow: none;
    }

    .btnBox button:last-child {
        margin-right: 0;
    }

    .btnBox button.detail_btn {
        background: #6b87e0;
        color: #fff;
        padding: 3px 10px;
        font-size: 12px;
        border: 1px solid #6b87e0;
        border-radius: 5px;
    }

    .btnBox.sz_large button {
        min-width: 120px;
        height: 46px;
        line-height: 44px;
    }

    .btnBox.sz_large button img {
        display: inline-block;
        width: 18px;
        margin: -3px 7px 0 0;
    }

    .btnBox.sz_regular button {
        min-width: 95px;
        height: 38px;
        line-height: 36px;
    }

    .btnBox.sz_regular button img {
        display: inline-block;
        width: 16px;
        margin: -3px 7px 0 0;
    }

    .btnBox.sz_small button {
        padding: 7px 30px;
        font-size: 14px;
        width: 120px;
        height: 37px;
    }

    .btnBox.sz_small button.btn_excel {
        position: relative;
        text-align: left;
        letter-spacing: -0.4px;
        border: 1px solid #596c91;
        color: #313759;
    }

    .btnBox.sz_small button.btn_excel a {
        display: block;
    }

    .btnBox.sz_small button.btn_excel em {
        margin: 0 0 0 5px;
        color: #596c91;
    }

    button.btnS_basic {
        color: #fff;
        border: 1px solid orange;
        background: orange;
    }

    button.btnS_basic:disabled {
        color: rgba(59, 68, 91, 0.4);
        border: 1px solid rgba(59, 68, 91, 0.02);
        background: rgba(59, 68, 91, 0.1);
    }

    button.btnS_line {
        color: orange;
        border: 1px solid orange;
        background: #fff;
    }

    button.btnS_line:disabled {
        color: rgba(59, 68, 91, 0.25);
        border: 1px solid rgba(59, 68, 91, 0.2);
        background: #fff;
    }


    button.btnC_basic img {
        width: 30px !important;
        margin: 0 0 5px 0 !important;
    }


    button.btnC_basic img.onlyImg, button.btnC_basic:disabled img.onlyImg {
        width: 45px !important;
        margin: 0 !important;
    }

    button.btnC_line img {
        width: 30px !important;
        margin: 0 0 5px 0 !important;
    }


    /* -------------------- Table -------------------- */


    .stn_cont {
        clear: both;
    }

    .stn_cont .btnBox {
        float: right;
        margin: 0 0 10px 0;
    }

    /* Table(List) */

    .tbl_tit span {
        font-weight: 600;
    }


    .tbl_box {
        overflow: auto;
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .tbl_line_lst {
        width: 100%;
    }


    .tbl_line_lst thead th {
        padding: 10px;
        color: rgba(255, 255, 255, 1.0);
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        vertical-align: middle;
        background: rgb(49, 55, 89);
    }

    .tbl_line_lst tbody th {
        padding: 10px;
        color: rgba(59, 68, 91, 1.0);
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        vertical-align: middle;
        border-bottom: 1px solid #eef1f7;
        letter-spacing: -1px;
        background: #fff;
    }

    .tbl_line_lst tbody td {
        padding: 10px;
        color: rgba(59, 68, 91, 0.8);
        font-size: 12px;
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid #eef1f7;
        background: #fff;
    }

    .tbl_line_lst tbody tr th:first-child, .tbl_line_lst tbody tr td:first-child {
        border-left: none;
    }

    .tbl_line_lst tbody tr td:last-child {
        border-right: none;
    }

    .tbl_line_lst tbody tr:nth-child(even) th, .tbl_line_lst tbody tr:nth-child(even) td {
        background: rgba(59, 68, 91, 0.025);
    }

    .tbl_line_lst tbody tr:hover td {
        background: rgba(59, 68, 91, 0.05);
    }

    .tbl_line_lst tbody tr td a.link {
        display: inline-block;
        color: #6b87e0;
        font-weight: 600;
        text-align: left;
    }

    .tbl_line_lst tbody tr td a:hover, .tbl_line_lst tbody tr td a:focus {
        text-decoration: underline;
    }


    .tbl_line_lst tbody tr td span {
        display: inline-block;
        width: 50px;
        padding: 7px 0;
        color: #fff;
        font-size: 11px;
        text-align: center;
        line-height: 10px;
        border-radius: 30px;
        background: rgba(59, 68, 91, 0.5);
    }

    .tbl_line_lst tbody tr td span.stand {
        color: rgba(59, 68, 91, 1.0);
        background: rgba(59, 68, 91, 0.1);
    }

    .tbl_line_lst tbody tr td span.working {
        background: #00aebc;
    }

    .tbl_line_lst tbody tr td span.support, .tbl_line_lst tbody tr td span.string {
        width: auto;
        background: none;
    }

    .tbl_line_lst tbody tr td.data_none {
        text-align: center;
        background: #fff;
    }

    .tbl_line_lst tbody tr td.data_none:hover {
        background: #fff;
    }

    .tbl_line_lst tbody tr td.tit {
        font-weight: bold;
    }

    .tbl_line_lst tbody tr td em.fa-sort-up {
        color: #ff5182;
        margin: 0 3px 0 0;
    }

    .tbl_line_lst tbody tr td em.fa-sort-down {
        color: #21bac4;
        margin: 0 3px 0 0;
    }

    .tbl_line_lst .btnBox {
        margin: 0;
        float: unset;
        text-align: center;
    }

    /* paging */
    #pagination {
        margin: 60px auto 0;
    }
</style>