<template>

    <div style="margin-top:180px">
<!--        <LoginHeader/>-->
        <div id="loginPage" class="mx-auto" style="width: 500px;">

            <div class="page-title text-center">
                <h2 class="title">TTS Builder LOGIN</h2>
            </div>
            <div class="form-group row">
<!--                <label for="loginId" class="col-sm-3 col-form-label">아이디</label>-->
                <div class="col-sm-12 mb-2">
                    <input class="form-control input-field" id="loginId" placeholder="Enter your ID" v-model="uid"/>
                </div>

<!--                <label for="loginPw" class="col-sm-3 col-form-label">패스워드</label>-->
                <div class="col-sm-12 mb-1">
                    <input class="form-control input-field" id="loginPw" placeholder="Enter your password" v-model="password" type="password"/>
                </div>

                <button class="btn btn-primary login-btn mt-3" @click.prevent="sendLogin">로그인</button>&nbsp;
            </div>

            <div class="signup-container">
                <p class="signup-text">아직 회원이 아니신가요?</p>

                <button class="btn btn-primary signup-btn">
                    <router-link to="/signUp">회원가입</router-link>
                </button>
            </div>
        </div>
        <LoginFooter/>
    </div>

</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import router from '../routes/index';
    import LoginHeader from "@/components/login/LoginHeader";
    import LoginFooter from "@/components/login/LoginFooter"

    const API_BASE_URL = process.env.API_BASE_URL;

    export default {
        name: 'Login',
        components: {LoginHeader, LoginFooter},
        data: () => ({
            uid: '',
            password: ''
        }),
        computed: {
            ...mapState(["isLogin"])
        },
        methods: {
            ...mapActions(["login"]),
            ...mapActions({
                log_in: 'login',
            }),

            sendLogin() {
                let loginObj = {uid: this.uid, password: this.password}
                this.login(loginObj)
            },

            singUp() {
                router.push({name: "signUpView"})
            }

        },
        beforeCreate() {
            document.body.className = 'login'
        }
    }
</script>

<style lang="scss" scoped>
    #loginPage {
        margin-top: 100px;
        height: 630px;
    }

    label {
        font-size: 17px;
        font-weight: bold;
        text-align: end;
    }

    .title {
        margin: 90px 0;
        color: #002b49;
        font-weight: 700;
    }

    .input-field {
      width: 300px;
      margin: 0 auto;
    }
    .login-btn {
        font-size: 20px;
        margin: 0 auto;
        width: 300px;
    }

    .signup-container {
        margin: 170px auto;
        text-align: center;

        .signup-text {
            font-size: 15px;
            margin: 10px auto;
        }

        .signup-btn {
            width: 300px;
            font-size: 20px;

            a {
                color: white;
            }
        }
    }


    button a {
        width: 100%;
        display: inline-block;

        &:hover {
            text-decoration: none;
        }
    }

</style>