<template>
    <div>
        <div>
            <h1>Log Table</h1>
            <paginated-list :list-array="pageArray" />
        </div>
        <br>
        <div style="text-align: center;">
            <input v-model="search" placeholder="검색">
            <b-button @click="searchLog">검색</b-button>
        </div>
        <div style="text-align: left;">
            &nbsp;&nbsp;&nbsp;<b-button @click="back">뒤로가기</b-button>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import PaginatedList from './page/PaginatedLis'
import Repository from '../repositories/Repository'
import router from '../routes/index'

const API_BASE_URL = process.env.API_BASE_URL;

export default {
    name: 'simple-pagination',
    components: {
        PaginatedList
    },
    data(){
        return {
            pageArray: [],
            search: ""
        }
    },
    created(){
        const getURL = [ API_BASE_URL, '/log/getAllLog' ].join('');

        axios.get(getURL).then( (response) => {
            this.pageArray = response.data
        })
        .catch(err => {
            console.log(err);
        })
    },
    methods:{
        searchLog(){
            const searchURL = [ API_BASE_URL, '/log/searchLog' ].join('');
            
            axios.post(searchURL, {
                search : this.search
            }).then( (response) => {
                this.pageArray = response.data
            });
        },
        back() {
            router.push({name : "MakeHomeView"})
        }
    }
}
</script>

<style>
h1 {
  color: #EEEEEE;
  text-align: center;
}

.text-white{
  color:aliceblue;
}
</style>
