<template>
  <div id="wrapper" 
      @mouseenter="handlerSelectionMouseEnterEvented"
      @mousemove="handlerSelectionMouseMoveEvented" 
      @mouseleave="handlerSelectionMouseLeaveEvented">
    <SelectedSpeakerView />
    <EditView v-if="loading" />
    <TTSCursor v-if="selectedSpeakerIndex > -1" :speaker="speaker" :dragX="dragX" :dragY="dragY" :show="dragging" ></TTSCursor>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapState, mapGetters, mapActions } from 'vuex';
import SelectedSpeakerView from './speaker/SelectedSpeakerView';
import EditView from './edit/EditView';
import TTSCursor from '@/components/common/TTSCursor';

import BootstrapVue from 'bootstrap-vue';
import 'bootstrap/dist/css/bootstrap.min.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import '../assets/styles/common.scss';

import store from '../store/index';

import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
Vue.use(Loading);
Vue.use(BootstrapVue);

import { RepositoryFactory } from '@/repositories/RepositoryFactory';
const SpeakerRepository = RepositoryFactory.get('speaker');
const UserRepository = RepositoryFactory.get('user');


import { closest, getElementAlias, hasClass } from '@/utils/elementUtils';

export default {
    components: { SelectedSpeakerView, EditView, TTSCursor },
    data() {
      return {
        loading : false,
        dragging: false,
        dragX:0,
        dragY:0,
        //selectedCursor: `url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32px' height='32px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E %3Cpath d='M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z'/%3E %3C/svg%3E"), pointer`
       }
    },
    computed: {
      ...mapState('speaker', {
        selectedSpeakerIndex: 'selectedSpeakerIndex'
      }),
      ...mapState('job', {
        jobId: 'jobId',                                         // JOB ID
        jobScripts: 'jobScripts',                               // JOB Script List
        deletedJobScripts: 'deletedJobScripts',                 // JOB Script Delete List
        jobSpeakers: 'jobSpeakers',                             // JOB Speaker List
        deletedJobSpeakers: 'deletedJobSpeakers',               // JOB Speaker Delete List
      }),
      ...mapState('dmz', {
        userCategoryList: 'userCategoryList'
      }),
      ...mapGetters('job', {
        getJobSpeakerFindByIndex: 'getJobSpeakerFindByIndex',   // JOB Speaker 조회
      }),
      speaker() {
        return this.getJobSpeakerFindByIndex(this.selectedSpeakerIndex);
      },
    },
    methods : {
      ...mapActions('job', {
        clearJobContent: 'clearJobContent',       // JOB Content 초기화
        addJobSpeaker: 'addJobSpeaker',           // JOB Speaker Row ADD
        setFakeJobScript: 'setFakeJobScript',     // JOB Script Dummy ADD(신규 작성 경우)
      }),
      async getDefaultSpeaker() {
          const {data} = await SpeakerRepository.defaultSpeaker();
          return data;
      },
      handlerSelectionMouseEnterEvented() {
        this.dragging = true;
      },
      handlerSelectionMouseLeaveEvented() {
        this.dragging = false;
      },
      handlerSelectionMouseMoveEvented(event) {
        // 다음 케이스 인경우 custom cursor 숨기기
        const predicates = [
          (ele) => ele.className == 'input-group-wrapper',                // TextArea 부모창
          (ele) => ele.className == 'input-group-addon right-btn',        // 스크립트 삭제 버튼, 음성 제어 버튼 영역
          (ele) => ele.className == 'jobbar jobbar-right',                // Job Action 버튼영역(작업저장, 불러오기, 새작업, 다운로드)
          (ele) => ele.className == 'audioControl',                       // 음성제어(재생, 전체재생/한줄재생) 영역
          (ele) => ele.className == 'create-button',                      // 하단 오른쪽 + 버튼
          (ele) => ele.className == 'addSpeaker',                         // 상단 왼쪽 화자 추가 버튼 
          (ele) => ele.className == 'modal-mask',                         // Modal 영역
        ];
        let visibled = true;
        predicates.forEach(predicate => {
          let closestResult = closest(event.target, predicate);
          if(closestResult) {
            visibled = false;
            return false;
          }
        });
        this.dragging = visibled;
        if (this.dragging) {
          this.dragX = event.clientX-25;
          this.dragY = event.clientY-35;
        }
      },
      async getMembership() {
        const {data} = await UserRepository.getUserMembershipInfo(this.$store.state.loginUser);
        await this.$store.dispatch("updateRoles", data.role);
      },

    },
    async created () {
      const vm = this;
      await this.clearJobContent();
      await this.addJobSpeaker(await this.getDefaultSpeaker());
      this.setFakeJobScript();
      this.loading = true;
      await this.getMembership();
    },
};
</script>
<style lang="scss" scoped>

</style>
