<template>
    <div>
<!--        <LoginHeader/>-->
        <div class="sign-up mx-auto" style="width: 800px;">
            <h3 class="title">인공지능이 필요할 땐 마음 AI</h3>
            <h5 class="subtitle">서비스 이용을 위한 준비가 거의 다 되었습니다</h5>

            <span class="condition">*입력해주신 정보는 서비스 개선 및 정보 제공에만 사용됩니다</span>

            <form @submit.prevent="">
                <div class="form-group row">
                    <label for="name" class="col-sm-4 col-form-label">이름</label>
                    <div class="col-sm-6 mb-2">
                        <input class="form-control" id="name" placeholder="" v-model="name"/>
                    </div>
                    <label for="company" class="col-sm-4 col-form-label">회사/소속</label>
                    <div class="col-sm-6 mb-2">
                        <input class="form-control" id="company" placeholder="" v-model="company"
                               type="text"/>
                    </div>
                    <label for="phone" class="col-sm-4 col-form-label">연락처</label>
                    <div class="col-sm-6 mb-2">
                        <span class="pw-condition">*01012345678 형태로 입력해주세요.</span>
                        <input class="form-control" id="phone" placeholder="" v-model="phoneNumber"
                               type="text"/>
                    </div>
                    <label for="userId" class="col-sm-4 col-form-label">이메일</label>
                    <div class="col-sm-6 mb-2 userId">
                        <input class="form-control" id="userId" placeholder="" v-model="userId"
                               type="email"/>
                        <span class="ml-2 align-self-center" @click="isDuplicateEmail">이메일 중복 확인</span>
                    </div>
                    <label for="userPw" class="col-sm-4 col-form-label">패스워드</label>
                    <div class="col-sm-6 mb-2">
                        <input class="form-control" id="userPw" placeholder="" v-model="userPw"
                               type="password"/>
                    </div>
                    <label for="pw_check" class="col-sm-4 col-form-label" >패스워드 확인</label>
                    <div class="col-sm-6 mb-2 pw_check">
                        <input class="form-control" id="pw_check" placeholder="" v-model="pw_check"
                               type="password" @input="isChanged"/>
                        <span class="ml-2 align-self-center" @click="checkPassword">패스워드 중복 확인</span>
                    </div>
                 </div>
            </form>

            <div class="container">
                <button class="btn btn-primary signup-btn mt-3" v-on:click.prevent="signUp" :disabled="!isValid">
                  회원가입
                </button>
            </div>
        </div>
        <LoginFooter/>
    </div>
</template>

<script>
    import axios from 'axios';
    import router from '../routes/index'
    import LoginHeader from "@/components/login/LoginHeader";
    import LoginFooter from "@/components/login/LoginFooter";

    const API_BASE_URL = process.env.API_BASE_URL;
    const emailFilter = /^([\w\-\.][^~!*&#@$^%()]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
    export default {
        name: 'signUp',
        components: {LoginHeader, LoginFooter},
        data() {
            return {
                userId: '',
                userPw: '',
                pw_check: '',
                code: '',
                name: '',
                company: '',
                phoneNumber: '',
                emailChecked: false,
                pwChecked: false
            }
        },
        computed: {
            isValid() {
                return !(this.userId === '' || this.userPw === '' || this.pw_check === '' || this.phoneNumber === '' || this.name === '' || this.company === '')
            },
            // routerIsValid() {
            //   console.log(this.isValid && this.emailChecked && this.pwChecked)
            //   console.log("isValid ==="+this.isValid )
            //   console.log("emailChecked === "+this.emailChecked)
            //   console.log("pwChecked === "+this.pwChecked)
            //   return this.isValid && this.emailChecked && this.pwChecked
            // }
        },
        methods: {
            checkPassword() {
                if (this.userPw != this.pw_check) {
                    alert('비밀번호를 다시 확인해주세요')
                    this.pwChecked = false;
                } else if (this.pw_check == ""){
                    alert('비밀번호를 입력해주세요')
                    this.pwChecked = false;
                } else {
                    alert('사능 가능한 비밀번호 입니다')
                    this.pwChecked = true;
                }
            },
            isChanged(){
              this.pwChecked= false;
            },
            async isDuplicateEmail() {
                if (this.userId == "") {
                    alert('이메일을 입력해주세요')
                    this.emailChecked = false;
                } else if (!emailFilter.test(this.userId)) {
                    alert("~!*&#@$^%() 글자를 허용 하지 않습니다")
                    this.emailChecked = false;
                } else{
                    const {data} = await axios.post([API_BASE_URL, '/login/idCheck'].join(''), {userId: this.userId})
                    if (!data) {
                        alert("이미 가입되어 있는 이메일입니다!")
                        this.emailChecked = false;
                    } else {
                        alert('사용 가능 한 메일 주소입니다')
                        this.emailChecked = true;

                    }
                }
            },

            signUp() {
                if (this.userId === '' || this.userPw === '' || this.pw_check === '' || this.phone === '' || this.name === '' || this.company === '') {
                    alert('마저 입력해 주세요.')
                } else if (!this.pwChecked && !this.emailChecked) {
                    alert('비밀번호와 이메일 중복 확인해주세요')
                } else if (!this.pwChecked) {
                    alert('비밀번호 중복 확인해주세요')
                } else if (!this.emailChecked) {
                    alert('이메일 중복 확인해주세요')
                } else {
                    axios.post([API_BASE_URL, '/login/regist'].join(''), {
                        userId: this.userId,
                        userPw: this.userPw,
                        code: this.code,
                        name: this.name,
                        company: this.company,
                        phoneNumber: this.phoneNumber,

                    }).then((res) => {
                        alert('완료되었습니다.')
                        router.push({name: "loginView"})
                    });
                }
            }
        },
        beforeCreate() {
            document.body.className = 'login'
        }
    }
</script>
<style lang="scss" scoped>
    .sign-up{
        height: 660px;
    }
    .title {
        font-weight: 700;
        color: black;
        margin-top: 70px;
        margin-bottom: 40px;
        text-align: center;
    }

    .subtitle {
        font-weight: 600;
        color: black;
        margin-bottom: 70px;
        color: #1c84c6;
        text-align: center;
    }

    span.condition {
        font-size: 11px;
        margin-left: 360px;
        margin-bottom: 10px;
        display: inline-block;

    }

    span.pw-condition {
        font-size: 11px;
        margin-left: 200px;
        margin-bottom: 2px;
        display: inline-block;

    }


    label.col-sm-4 {
        padding-left: 16%;
        align-self: center;
        font-weight: 600;
        font-size: 16px;
    }

    div.userId, div.pw_check {
        position: relative;
    }

    #userId + span, #pw_check + span {
        font-weight: 600;
        color: #1c84c6;
        cursor: pointer;
        position: absolute;
        left: 420px;
        bottom: 10px;
        width: 120px;

        &:hover {
            filter: brightness(.8);
        }
    }

    .signup-btn a {
        color: white;
    }

    .container {
        text-align: center;
    }

    .signup-btn {
        padding: 8px 30px;
        font-weight: 700;
        font-size: 16px;
    }

    .signup-btn a {
        text-decoration: none;
    }

    .signup-btn:disabled, .signup-btn:disabled a {
        cursor: default;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>