<template>
  <div>
    <div class="dragstartzone" @mouseenter="startDrag" @mousemove="doDrag" @mouseleave="stopDrag">
     
    </div>
    <TTSCursor v-if="loadding" :speaker="speaker" :dragX="dragX" :dragY="dragY" :show="dragging" ></TTSCursor>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import { RepositoryFactory } from '@/repositories/RepositoryFactory';
const SpeakerRepository = RepositoryFactory.get('speaker');

import TTSCursor from '@/components/common/TTSCursor';

export default {
  components: {
    TTSCursor,
  },
  data() {
    return {
      dragging: false,
      dragX:0,
      dragY:0,
      speaker: {},
      loadding:false,
    }
  },
  methods: {
    ...mapActions('job', {
        setJobSpeakers: 'setJobSpeakers',
    }),
    startDrag() {
      this.dragging = true;
      console.log(this.dragging);
    },
    stopDrag() {
       this.dragging = false;
       console.log(this.dragging);
    },
    doDrag(event) {
      if (this.dragging) {
        this.dragX = event.clientX-25;
        this.dragY = event.clientY-35;
      }
    }
  },
  async created () {
    const { data } = await SpeakerRepository.list();  // 화자 리스트 조회
    await this.setJobSpeakers(data);
    this.speaker = data[3];
    this.loadding = true;
  },
}
</script>

<style>
.dragstartzone {
  width: 500px;
  height: 500px;
  background-color: black;
}

</style>