<template>
  <div>
      <div class="addSpeaker" @click="addSpeakerClicked">
          <i class="fa fa-plus"></i>
      </div>
      <div class="addSpeaker" @click="addSpeakerClicked2">
          <i class="fa fa-plus"></i>
      </div>
      <div class="addSpeaker" @click="addSpeakerClicked3">
          <i class="fa fa-plus"></i>
      </div>
      <TTSAudio ref="AudioComponent" 
        :dataSource="jobScripts"
        @notify:ended="handlerAudioEnded"
         />
  </div>
</template>

<script>
import Vue from "vue";
import { mapState, mapGetters, mapActions } from 'vuex';

import { RepositoryFactory } from '@/repositories/RepositoryFactory'
const JobRepository = RepositoryFactory.get('job');
const SpeakerRepository = RepositoryFactory.get('speaker');

import TTSAudio from '@/components/common/TTSAudio';

export default {
    components: { TTSAudio },
    data() {
        return {
            showModal: false
        }
    },
    computed: {
      ...mapState('job', {
          jobScripts: 'jobScripts',
      }),
    },
    methods: {
      
      ...mapActions('job', {
        setJobContent: 'setJobContent',             // JOB Content 저장
        detectMoreConvertScripts: 'detectMoreConvertScripts'
      }),
      addSpeakerClicked() {
        //const commit = this.$store.commit;
        //JobScriptPreProcessor.detectMoreConvertScripts(commit, this.jobScripts, 0);
        this.detectMoreConvertScripts(0);

      },
      addSpeakerClicked2() {
        this.$refs.AudioComponent.actionPlayTrack(0);
      },

      async addSpeakerClicked3() {
        await this.$refs.AudioComponent.actionStopTrackEnd();
        this.$refs.AudioComponent.actionPlayTrack(5);
      },
      
      async handlerAudioEnded({playCursor, listenMode, loopMode, hasNext, sleep}) {
        if(listenMode == 1) {
          if(hasNext) {
            await this.$refs.AudioComponent.actionStopTrackEnd();
            await this.$refs.AudioComponent.actionSleep(sleep);
            const nextCursor = playCursor + 1;
            await this.detectMoreConvertScripts(nextCursor);
            await this.$refs.AudioComponent.actionPlayTrack(nextCursor);
          } else {
            this.$refs.AudioComponent.actionStopTrack();
          }
        }
        
      }
    },
    async created () {
      const jobId = '40c73210-7e1d-47dc-82fd-e915420347c3';
      const {data} = await JobRepository.getJobContent(jobId);
        // JOB 데이터 불러오기 후 store 저장처리(jobId, jobTitle, jobSpeakers, jobScripts);
        this.setJobContent(data);
    },
}
</script>

<style lang="scss" scoped>
@import '~styles/font-awesome';
@import '~styles/animate';

.addSpeaker {
    width: 50px;
    height: 50px;
}
</style>