<template>
    <nav class="navbar-default navbar-static-side text-center">
        <div class="choiceSpeakerWrapper">
            <virtualList :size="180" :remain="10" importantHeight="100%">
                <div class="addSpeaker" @click="addSpeakerClicked">
                    <i class="fa fa-plus"></i>
                </div>
                <SelectedSpeakerViewItem
                        v-for="(item, index) in jobSpeakers"
                        :key="index"
                        :speaker="item"
                        :index="index"
                        :selected="selectedSpeakerIndex === index"
                        @cb:notifySelectionChoiceSpeaker="handlerNotifySelectionChoiceSpeaker">
                </SelectedSpeakerViewItem>
            </virtualList>
        </div>

        <ChoiceSpeakerPopupView
                :showModal="showModal"
                @popup:notifyClosed="showModal = false"
                @popup:notifyJobSpeakerSelectionRowIndex="handlerPopupNotifyJobSpeakerSelectionRowIndex"/>
    </nav>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';
    import virtualList from '@/components/common/virtualList';

    import {RepositoryFactory} from '@/repositories/RepositoryFactory';

    const SpeakerRepository = RepositoryFactory.get('speaker');
    const JobRepository = RepositoryFactory.get('job');

    import ChoiceSpeakerPopupView from './../popup/ChoiceSpeakerPopupView';
    import SelectedSpeakerViewItem from './SelectedSpeakerViewItem';

    export default {
        components: {virtualList, SelectedSpeakerViewItem, ChoiceSpeakerPopupView},
        data() {
            return {
                showModal: false,
                overflow: false,
            }
        },
        computed: {
            ...mapState('job', {
                jobId: 'jobId',
                jobSpeakers: 'jobSpeakers',
                deletedJobSpeakers: 'deletedJobSpeakers'
            }),

            ...mapState('speaker', {
                speakers: 'speakers',
                selectedSpeakerIndex: 'selectedSpeakerIndex'
            }),

        },
        methods: {
            ...mapActions('job', {
                addJobSpeaker: 'addJobSpeaker',         // 선택한 화자 추가
            }),

            ...mapActions('speaker', {
                setSpeakers: 'setSpeakers',             // 화자 List 저장
                setSelectedSpeakerIndex: 'setSelectedSpeakerIndex'
            }),
            async addSpeakerClicked() {
                if (this.speakers.length == 0) {
                    try {
                        const {data} = await SpeakerRepository.list();  // 화자 리스트 조회
                        if (data.length > 0) {
                            await this.setSpeakers(data); // 화자 리스트 Store 저장
                            this.showModal = true;
                        }
                    } catch (e) {
                        alert("화자 리스트 조회 중 오류가 발생했습니다.");
                    }
                } else {
                    this.showModal = true;
                }
            },

            handlerNotifySelectionChoiceSpeaker({selectionIndex}) {
                this.setSelectedSpeakerIndex(selectionIndex);
            },

            handlerPopupNotifyJobSpeakerSelectionRowIndex(index) {
                const vm = this;
                const speaker = this.speakers[index];

                this.addJobSpeaker(speaker).then(speaker => { // 선택한 화자 Store 추가
                    var jobSpeakerIdList = [];
                    vm.jobSpeakers.forEach(row => jobSpeakerIdList.push(row.speakerId));
                    JobRepository.updateJobSpeakers(vm.jobId, jobSpeakerIdList); // 선택한 화자 리스트 redis 임시저장
                });
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import '~styles/font-awesome';
    @import '~styles/animate';
    @import '~styles/speakers';

    .choiceSpeakerWrapper {
        width: 195px;
        height: 100vh;
        background: #fff;

    }

    .addSpeaker {
        margin: 13px 10px;
        height: 50px;
        align-items: center;
        justify-content: center;
        color: white;
        display: inline-block;
        border: 2px solid white;
        cursor: pointer;

        width: 170px;
        line-height: 48px;
        border-radius: 5px;
        background: #3599ff;

        .fa {
            font-size: 13px ;
            line-height: 50px;
        }

        &:after {
            content: '캐릭터 추가하기';
            display: inline-block;
            margin: 0 0 0 7px;
            font-weight: 700;
        }
    }

</style>