<template>

    <div id="wrap" class="maumUI">
        <div class="loginWrap">
            <!--.demobox-->
            <div class="login_box">
                <!-- .priceBox -->
                <div class="failure_box">
                    <h1><em class="fa fa-exclamation-circle"></em> 결제 정보 등록에 실패하였습니다</h1>
                    <span style="font-size: 15px;margin: 20px auto; width: 100%; display: block; text-align: center;color: #2c3f51;">실패사유를 확인하신 후 재시도를 하시거나, 계속 실패되시는 경우 고객센터로 문의주시기 바랍니다.</span>
                    <table class="failure_tb" style="width:100%; margin:30px 0 0 0;">
                        <tr>
                            <th>실패사유</th>
                            <td>{{urlParams.reason}}</td>
                        </tr>
                        <tr>
                            <th>주문번호</th>
                            <td> {{urlParams.moid}}</td>
                        </tr>
                        <tr>
                            <th>문의</th>
                            <td class="emaildesc">support@mindslab.ai</td>
                        </tr>
                    </table>
                    <a href="javascript:history.back();">돌아가기</a>
                </div>
                <!-- //.priceBox -->

            </div>
            <!--//.demobox-->

            <!-- #footer -->
            <div id="footer">
                <div class="lot_c">
                    <div class="cyrt">
                        <p><a href="https://mindslab.ai:8080/kr/company" target="_blank"><strong>주식회사 마인즈랩 </strong></a>
                            경기도 성남시 분당구 대왕판교로644번길 49 다산타워 6층&nbsp;&nbsp;ㅣ&nbsp;&nbsp;<span>대표 유태준&nbsp;&nbsp;ㅣ&nbsp;&nbsp;사업자 등록번호 314-86-55446</span>
                            <strong class="footer_link"><a href="/home/pricingPage">가격정책</a><a href="/home/krTermsMain">이용약관</a><a
                                    href="mailto:hello@mindslab.ai">hello@mindslab.ai</a></strong>
                        </p>
                    </div>
                    <!-- 			<div class="cyrt"><span>MINDsLab &copy; 2019</span></div> -->
                </div>
            </div>
            <!-- //#footer -->


        </div>
    </div>
</template>

<script>
    export default {
        name: "BilllingFailView",
        computed: {
            urlParams() {
                const urlParams = new URLSearchParams(window.location.search);
                return {
                    reason: urlParams.get("reason"),
                    moid: urlParams.get("moid")
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '~styles/font-awesome';

    .failure_box {
        max-width: calc(955px - 120px);
        margin: 0 auto 20px;
        padding: 150px 60px;
    }

    .failure_box h1 {
        color: white;
        font-size: 20px;
        padding: 30px;
        border-top: 2px solid rgba(255, 255, 255, 0.3);
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        text-align: center;
    }

    .failure_box .failure_tb {
        margin: 50px 0 0 0;
        border-top: 3px solid #697992;
        font-size: 14px;
        color: #576068;
    }

    .failure_box .failure_tb tr {
        min-height: 55px;
        border-bottom: 1px solid rgba(61, 70, 92, 0.1);
    }

    .failure_box .failure_tb tr th {
        width: 20%;
        background: #f5f6fa;
        clear: both;
        line-height: 50px;
        text-align: center;
        padding: 10px 0;
        font-size: 16px;
        font-weight: 500;
        border: none;
        color: #33516b;
    }

    .failure_box .failure_tb tr td {
        width: calc(80% - 40px);
        padding: 8px 20px;
        background-color: white;
        color: #33516b;
        text-align: left;
    }

    .failure_box .failure_tb tr td span {
        display: block;
        font-size: 14px;
        margin: 5px 0 0 0;
        color: #89929a;
    }

    .failure_box a {
        clear: both;
        display: block;
        background: #3f6d92;
        margin: 30px auto 5px;
        width: 104px;
        height: 40px;
        line-height: 40px;
        color: rgb(255, 255, 255);
        letter-spacing: -0.4px;
        font-size: 14px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;

        &:hover {
            filter: brightness(110%);
        }
    }

    /* footer */
    #footer {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 30px;
        color: white;
        font-size: 11px;
        text-align: center;
        line-height: 30px;
    }

    #footer p {
        height: 30px;
        line-height: 30px;
        font-style: normal;
    }

    #footer p a {
        color: white;
    }

    #footer p strong {
        margin: 0 10px 0 0;
    }

    #footer p strong.footer_link {
        font-weight: 400;
        display: inline-block;
    }

    #footer p strong.footer_link a {
        margin: 0 0 0 40px;
        font-weight: bold;
        transition: all 0.3s ease-out;
        color: white;
    }

    #footer p strong.footer_link a:hover {
        color: #0080df;
        transition: all 0.3s ease-out;
    }
</style>