<template>

    <div id="wrap" class="maumUI">
        <div class="loginWrap">
            <div class="login_box signup_box">
                <div class="txt_box">

                <span class="signup_desc animated fadeInDown delay-1 signup_complete">
					<strong>등록이 완료되었습니다!</strong>
<!--                    <em style="font-weight:normal; font-size:18px;" id="register_noti">지금부터 1달 동안 무료 서비스를 이용하실 수 있으며,-->
<!--                        <br>첫 결제일은 ${payDate } 입니다.</em>-->
				</span>

                    <button type="button" id="complete_btn" class="input_done  animated flipInY delay-1"
                            style="width:166px;" @click="mainPageClick">메인페이지 돌아가기
                    </button>
                </div>

<!--                <div class="enroll_noti animated fadeIn delay-2">-->
<!--                    &lt;!&ndash;                    <img class="surprise_face" src="${pageContext.request.contextPath}/aiaas/kr/images/ico_alarm_after_enroll_2x.png" alt="구독해지안내 아이콘"/>&ndash;&gt;-->
<!--                    <ul>-->
<!--                        <li>구독이 취소되더라도 구독 결제를 소급하여 환불하지 않으며 이전에 청구된 구독 요금은 취소일에 비례하여 <br>계산되지 않습니다. 중도 해지시 환불은 없고, 다음 카드-->
<!--                            결제일 전날까지 서비스 이용이 가능합니다.-->
<!--                        </li>-->
<!--                        <li>첫 1달 Free 사용자의 경우 가입 해지 시 모든 서비스가 즉시 중지되니 유의해주세요.</li>-->
<!--                        <li>구독 취소는 화면 상단의 내 이메일 계정 &gt; 결제내역 &gt; 구독 해지 에서 바로 하실 수 있습니다.</li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>

            <!-- #footer -->
            <div id="footer">
                <div class="lot_c">
                    <div class="cyrt">
                        <p><a href="https://mindslab.ai:8080/kr/company" target="_blank"><strong>주식회사 마인즈랩 </strong></a>
                            경기도 성남시 분당구 대왕판교로644번길 49 다산타워 6층&nbsp;&nbsp;ㅣ&nbsp;&nbsp;<span>대표 유태준&nbsp;&nbsp;ㅣ&nbsp;&nbsp;사업자 등록번호 314-86-55446</span>
                            <strong class="footer_link"><a href="/home/pricingPage">가격정책</a><a href="/home/krTermsMain">이용약관</a><a
                                    href="mailto:hello@mindslab.ai">hello@mindslab.ai</a></strong>
                        </p>
                    </div>
                    <!-- 			<div class="cyrt"><span>MINDsLab &copy; 2019</span></div> -->
                </div>
            </div>
            <!-- //#footer -->

        </div>
    </div>
</template>

<script>
    import router from "@/routes";

    export default {
        name: "BillingSuccessView",
        computed: {
            urlParams() {
                const urlParams = new URLSearchParams(window.location.search);
                return {
                    reason: urlParams.get("reason"),
                    moid: urlParams.get("moid")
                }
            }
        },
        methods:{
            mainPageClick(){
                router.push({name: "MakeHomeView"})
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '~styles/font-awesome';

    .loginWrap { /* overflow:hidden; */
        width: 100%;
    }

    .login_box {
        text-align: center;
    }

    .login_box .txt_box {
        position: relative;
    }

    .login_box .txt_box > p {
        font-size: 28px;
        color: #002b49;
        height: 34px;
        line-height: 37px;
        animation-fill-mode: unset;
        font-weight: bold;
        letter-spacing: -1px;
    }

    .login_box .txt_box .signup_desc {
        color: black;
        font-size: 24px;
        font-weight: 300;
        margin: 30px 0 10px;
        line-height: 24px;
    }

    .login_box .txt_box .signup_desc span {
        font-weight: 400;
    }

    .login_box .txt_box .signup_desc strong {
        font-weight: bold;
        display: block;
    }

    .login_box .txt_box .signup_desc small {
        display: block;
        height: 20px;
        line-height: 20px;
        margin: 10px 0 0 0;
        font-size: 14px;
        letter-spacing: -0.11px;
        color: #ea6801;
        cursor: pointer;
    }

    .login_box .txt_box .signup_desc small em {
        display: inline-block;
        font-weight: 900;
        padding: 0;
    }

    .login_box .txt_box .btn_sign {
        display: none;
        width: 332px;
        height: 48px;
        border-radius: 44px;
        line-height: 47px;
        font-size: 20px;
        font-weight: bold;
        color: #002b49;
        border: 1px solid #002b49;
        margin: 20px auto;
        text-align: left;
        text-indent: 90px;
        transition: all 0.3s ease-out;
    }

    .login_box .txt_box .btn_sign:hover {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 20px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-out;
    }

    .login_box .txt_box > span {
        display: block;
        font-size: 21px;
        font-weight: 300;
        color: #0080df;
        margin: 0 0 70px 0;
    }

    .login_box .txt_box .input_done {
        display: block;
        width: 150px;
        height: 38px;
        background: #0080df;
        color: #fff;
        font-size: 15px;
        text-align: center;
        border-radius: 28px;
        border: none;
        font-weight: bold;
        margin: 37px auto;
        cursor: pointer;
    }

    .login_box .txt_box .benefit_btn {
        position: relative;
        width: 500px;
        margin: 10px auto 20px;
        height: 20px;
        z-index: 1;
    }

    .login_box .txt_box .benefit_btn p.benefit_txt {
        line-height: 20px;
        font-size: 14px;
        letter-spacing: -0.11px;
        color: #ea6801;
        cursor: pointer;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit {
        display: none;
        overflow: hidden;
        position: absolute;
        box-sizing: border-box;
        width: 370px;
        height: 500px;
        border-radius: 5px;
        box-shadow: 0 2px 20px 0 rgba(0, 43, 73, 0.2);
        border: solid 1px #cfd5eb;
        top: 0;
        right: -235px;
        margin: 0;
        text-align: center;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .pop_bg {
        position: fixed;
        background-color: transparent;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap {
        margin: 0;
        box-sizing: border-box;
        width: 370px;
        height: 500px;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_hd {
        position: relative;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_hd h1 {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.56px;
        text-align: center;
        color: #ff8c55;
        border-bottom: solid 1px #cfd5eb;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_hd em {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 15px;
        letter-spacing: -0.47px;
        color: #97a2bc;
        cursor: pointer;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_bd {
        padding: 0 30px;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_bd p {
        font-size: 22px;
        font-weight: bold;
        line-height: 55px;
        letter-spacing: -0.69px;
        margin: 0 0 20px 0;
        color: #14b6cb;
        border-bottom: dotted 1px #cfd5eb;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_bd p small {
        font-size: 15px;
        font-weight: normal;
        letter-spacing: -0.47px;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_bd p span {
        display: inline-block;
        width: 74px;
        height: 24px;
        border-radius: 12px;
        background-color: #14b6cb;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.38px;
        text-align: center;
        color: #ffffff;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_bd ul {
        display: inline-block;
        width: calc(50% - 8px);
        text-align: left;
        padding: 0 0 0 26px;
        box-sizing: border-box;
        list-style: none;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_bd ul.ul_second {
        padding: 0 0 0 16px;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_bd ul li {
        font-size: 14px;
        font-weight: normal;
        line-height: 2.14;
        letter-spacing: -0.44px;
        color: #002b49;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_bd ul li em {
        margin: 0 15px 0 0;
        color: #14b6cb;
        font-size: 20px;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_bd ul.ul_plus {
        position: relative;
        display: block;
        width: 100%;
        padding: 0 0 0 27px;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_bd ul.ul_plus li em {
        font-size: 14px;
        letter-spacing: -0.44px;
        color: #ff8c55;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_bd ul.ul_plus:before {
        content: '';
        position: absolute;
        left: 0;
        top: -30px;
        width: 100%;
        height: 1px;
        border-bottom: dotted 1px #cfd5eb;
        z-index: 0;
    }

    .login_box .txt_box .benefit_btn .lyr_benefit .popWrap .pop_bd strong {
        position: relative;
        display: block;
        margin: 15px auto;
        width: 85px;
        height: 32px;
        border-radius: 16px;
        background-color: #ff8c55;
        font-size: 14px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.44px;
        color: #ffffff;
        z-index: 1;
    }


    .signup_box {
        padding: 180px 0 40px;
    }

    .signup_box .txt_box > p em {
        color: gray;
        font-size: 40px;
    }

    /* 수신거부 페이지 아이콘 */
    .signup_box .txt_box > span {
    }

    .signup_box .txt_box > span.signup_complete {
        padding: 125px 0 0 0;
        line-height: 25px;
    }


    /* footer */
    #footer {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 30px;
        color: white;
        font-size: 11px;
        text-align: center;
        line-height: 30px;
    }

    #footer p {
        height: 30px;
        line-height: 30px;
        font-style: normal;
    }

    #footer p a {
        color: white;
    }

    #footer p strong {
        margin: 0 10px 0 0;
    }

    #footer p strong.footer_link {
        font-weight: 400;
        display: inline-block;
    }

    #footer p strong.footer_link a {
        margin: 0 0 0 40px;
        font-weight: bold;
        transition: all 0.3s ease-out;
        color: white;
    }

    #footer p strong.footer_link a:hover {
        color: #0080df;
        transition: all 0.3s ease-out;
    }
</style>