<template>

    <div id="wrapper">
        <div id="downloadListHeader">
            <h1>이용 내역</h1>
            <p>이전에 다운로드 받은 파일은 다운로드 후 7일 간 저장되며, 글자수 차감 없이 다시 다운로드 받으실 수 있습니다.</p>
        </div>
        <div id="downloadListBody">
            <div class="frame">
                <br>
                <p>남은 글자 수 : {{ (maxSize(charLimit) - computedLeftOver).toLocaleString() }} 자</p>
                <b-progress id="body-progressBar" :max="maxSize(charLimit)" height="1.5rem">
                    <b-progress-bar id="innerBar" :value="computedLeftOver" variant="warning">
                        <p class="progress-num">{{ (computedLeftOver).toLocaleString() }} /
                            {{maxSize(charLimit).toLocaleString()}}</p>
                    </b-progress-bar>
                </b-progress>
                <div id="body-table">
                    <b-table
                            id="downloadListTable"
                            :items="jobs"
                            :per-page="perPage"
                            :fields="fields"
                            :current-page="currentPage"
                    >
                        <template v-slot:cell(playLength)="data">
                            <span>{{ formatLength(data.value) }}</span>
                        </template>

                        <template v-slot:cell(downloadUrl)="data">
                            <template v-if="checkDownloadDate(data.item)">
                                <button @click="redownloadTTS(data.item)"
                                        class="btn">
                                    <i class="fa fa-download"/>
                                    &#10515;
                                </button>
                            </template>
                            <template v-else>
                                <button class="btn" disabled>
                                    <i class="fa fa-download"/>
                                    &#10515;
                                </button>
                            </template>
                        </template>
                    </b-table>
                    <div id="noDataMsg" v-if="jobs.length === 0">다운로드된 파일이 존재하지 않습니다.</div>
                </div>
            </div>
        </div>
        <div id="downloadListFooter">
            <b-pagination
                    class="listPagination"
                    v-model="currentPage"
                    :total-rows="jobs.length"
                    :per-page="perPage"
                    aria-controls="downloadListTable"
                    align="center">
            </b-pagination>
        </div>

    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";
    import axios from "axios";

    import {RepositoryFactory} from '@/repositories/RepositoryFactory';
    import jobRepository from "@/repositories/jobRepository";
    import DateUtil from "@/utils/filters"

    const JobRepository = RepositoryFactory.get('job');
    const UserRepository = RepositoryFactory.get('user');

    const TtsRepository = RepositoryFactory.get('tts');


    const API_BASE_URL = process.env.API_BASE_URL;

    export default {
        data() {
            return {
                charLimit: 3000,
                fields: [
                    {key: 'downloadedAt', label: '날짜/시간', sortable: true},
                    {key: 'fileName', label: '파일 제목'},
                    {key: 'playLength', label: '재생 시간'},
                    {key: 'charCount', label: '다운로드 글자수'},
                    {key: 'downloadUrl', label: '파일 받기'}],
                jobs: [],
                perPage: 8,
                currentPage: 1,
                charConsumed: 0,

            }
        },
        computed: {
            ...mapState('job', {
                jobTitle: 'jobTitle',
            }),
            membershipData() {
                return this.$store.state.membership;
            },
            computedLeftOver() {
                return this.charConsumed;
            },

        },
        methods: {
            ...mapActions('job', {
                setJobTitle: 'setJobTitle',
            }),
            maxSize(max) {
                return this.$store.state.charLimit
            },
            async computeLeftOver() {
                const {data} = await UserRepository.getCharConsumed(this.$store.state.loginUser);
                await this.$store.dispatch("updateCharConsumed", data)
                this.charConsumed = data;
            },
            formatLength(sec) {
                var date = new Date(null);
                if (sec < 1)
                    sec = 1;
                date.setSeconds(sec); // specify value for SECONDS here
                return date.toISOString().substr(11, 8);
            },
            async getUserDownloadInfo() {
                const {data} = await jobRepository.getUserDownloadInfo(this.$store.state.loginUser);
                this.jobs = data;
            },
            checkDownloadDate(item) {
                var currentDate = DateUtil.formatDate(new Date().setTime(new Date() - (24 * 60 * 60 * 1000) * 5))
                var expireDate = item.downloadedAt

                console.log(currentDate + " " + expireDate)

                var d1 = Date.parse(currentDate);
                var d2 = Date.parse(expireDate);

                if (d2 < d1) {
                    return false
                }

                return true;
            },
            async redownloadTTS(item) {
                try {
                    let result;

                    let jobContent = {
                        id: item.id,
                        jobTitle: item.fileName,                    // 작업 제목
                        url: item.downloadUrl,
                        userId: this.$store.state.loginUser,
                        scriptsCount: item.charCount,
                    }
                    if ((this.maxSize(this.charLimit) - this.charConsumed) < item.charCount) {
                        alert("다운로드 가능한 글자수가 초과되었습니다." + this.charConsumed);
                    } else {
                        if (!item.ziped) {
                            result = await TtsRepository.redownloadTTS(jobContent).catch((error) => {
                                alert("통합 다운로드중 오류가 발생했습니다.");
                            });
                            const url = window.URL.createObjectURL(new Blob([result.data]));
                            const link = document.createElement('a');
                            link.href = url;
                            link.setAttribute('download', item.fileName + '.wav');
                            link.click();

                            const {data} = await jobRepository.getUserDownloadInfo(this.$store.state.loginUser);
                            this.jobs = data;
                        } else {
                            result = await TtsRepository.redownloadEachTTS(jobContent).catch((error) => {
                                alert("통합 다운로드중 오류가 발생했습니다.");
                            });
                            const url = window.URL.createObjectURL(new Blob([result.data]));
                            const link = document.createElement('a');
                            link.href = url;
                            link.setAttribute('download', item.fileName + '.zip');
                            link.click();

                            const {data} = await jobRepository.getUserDownloadInfo(this.$store.state.loginUser);
                            this.jobs = data;


                        }
                    }


                } catch (e) {
                    alert("다운로드중 오류가 발생했습니다.");
                }
            },
        },

        created() {
            this.computeLeftOver();
            this.getUserDownloadInfo();
        },
        beforeCreate() {
            document.body.className = 'download'
        },
        beforeDestroy() {
            document.body.className = ''

        }


    }
</script>

<style lang="scss" scoped>

    #wrapper {
        position: absolute;
        background-color: white;
        height: 100%;
        width: 100%;
    }

    #downloadListHeader {
        margin-left: 12%;
        margin-top: 3%;
    }

    #downloadListHeader h1 {
        color: black;
        text-align: left;
        font-size: 32px;
        font-weight: 700;
    }

    #downloadListHeader p {
        color: black;
        font-size: 15px;
    }

    #downloadListBody p {
        font-weight: bold;
        color: orange;
    }

    #downloadListBody {
        margin-top: 2%;
        height: 75%;

    }

    #downloadListBody p {
        text-align: right;
        font-size: 17px;
        margin: 0 0 5px 0;
        color: #3599ff;
    }

    #body-progressBar {
        position: relative;
        color: orange;
        margin-bottom: 1.5%;
    }

    #body-progressBar p {
        position: absolute;
        color: black;
        left: 48%;
        top: 50%;
    }


    .bg-warning {
        background: #3599ff !important;
    }

    #body-progressBar {
        height: 30px !important;
        background: #d4dce4 !important;
    }

    #body-table {
        max-height: 200px;
    }

    #noDataMsg {
        font-size: 17px;
    }

    .frame {
        border-radius: 0.5rem;
        margin: auto;
        text-align: center;
        width: 80%;
    }

    #downloadListFooter {
        margin-right: auto;
        margin-left: auto;
        width: 20%;

    }

    #downloadListFooter div {
        text-align: center;
    }

    a {
        text-decoration: none;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid #586b7d;
        text-align: center;
        vertical-align: middle;
        horiz-align: center;


    }

    a:hover {
        background-color: #ddd;
        color: black;
    }

    .btn {
        border: none;
        color: white;
        padding: 2px 20px;
        cursor: pointer;
        font-size: 20px;
        background: #3599ff;
    }

    .btn:disabled {
        background: #4d6372;
    }

    .download .page-item.active .page-link {
        background-color: #3599ff !important;
        border-color: #3599ff !important;
    }

    ​ ​
    div {
        padding: 0 15px !important;
    }

    button.btn-info {
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        background: #3599ff !important;
    }

    button.btn-danger {
        color: #fff !important;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        background: #697995 !important;
    }

    ​ ​ .modal-mask {
        z-index: 9999;
    }
</style>
