<template>
    <div id="wrapper">
        <div id="paymentHeader">
            <h1>결제하기</h1>
            <p>음성을 편집/생성/공유하실 때에는 무제한 이용이 가능하며,
                파일을 다운로드 받으실 때에만 월 별 사용 가능한 글자수가 차감됩니다.</p>

        </div>
        <div id="paymentBody">

            <div class="frame">
                <div class="frameHeader">
                    <h2>베이직</h2>
                    <p>무제한 생성 및 미리듣기
                        <br> 월 최대 70,000자 다운로드</p>
                    <h3>월 14,900 원</h3>
                </div>
                <div class="frameBody">
<!--                    <br>-->
<!--                    <ul>-->
<!--                        <li>온라인 게시(YouTube 등)</li>-->
<!--                        <li>글자 수 추가 가능</li>-->
<!--                    </ul>-->
                </div>
                <div class="frameFooter">
                    <button type="button" id="basicPaymentBtn" @click="grantBasicMembership()">
                        <!--        TODO: 결제페이지 연동 필요-->
                        <a>결제하기</a>
                    </button>
                </div>
            </div>

            <div class="frame">
                <div class="frameHeader">
                    <h2>프로</h2>
                    <p>무제한 생성 및 미리듣기
                        <br> 월 최대 115,000자 다운로드</p>
                    <h3>월 44,000 원</h3>
                </div>
                <div class="frameBody">
<!--                    <br>-->
<!--                    <ul>-->
<!--                        <li>온라인 게시(YouTube 등)</li>-->
<!--                        <li>글자 수 추가 가능</li>-->
<!--                        <li>TV/라디오/광고 제작</li>-->
<!--                        <li>안내방송/공연/전시시</li>-->
<!--                    </ul>-->
                </div>
                <div class="frameFooter">
                    <button type="button" id="proPaymentBtn" @click="grantProMembership">
                        <!--        TODO: 결제페이지 연동 필요-->
                        <a>결제하기</a>
                    </button>
                </div>
            </div>

            <div class="frame">
                <div class="frameHeader">
                    <h2>프로+</h2>
                    <p>무제한 생성 및 미리듣기
                        <br> 월 최대 250,000자 다운로드</p>
                    <h3>월 98,000 원</h3>
                </div>
                <div class="frameBody">
<!--                    <br>-->
<!--                    <ul>-->
<!--                        <li>온라인 게시(YouTube 등)</li>-->
<!--                        <li>글자 수 추가 가능</li>-->
<!--                        <li>TV/라디오/광고 제작</li>-->
<!--                        <li>안내방송/공연/전시시</li>-->
<!--                        <li>제품/소프트웨어 활용</li>-->
<!--                        <li>판매용 콘텐츠</li>-->
<!--                    </ul>-->
                </div>
                <div class="frameFooter">
                    <button type="button" id="proPlusPaymentBtn" @click="grantPlusMembership">
                        <!--        TODO: 결제페이지 연동 필요-->
                        <a>결제하기</a>
                    </button>
                </div>
            </div>
        </div>

        <!--        <BillingPopupView-->
        <!--                :showModal="showBillingModal"-->
        <!--                :billingFormData="billingFormData"-->
        <!--        />-->

        <input type="hidden" id="basicSignature" :value="billingFormData.basicSignature">
        <input type="hidden" id="businessSignature" :value="billingFormData.businessSignature">

        <!-- 무조건 returnUrl을 사용 도메인과 매칭시켜야됩니다. -->
        <form id="billingForm" name="" method="POST">

            <!-- ***** 필 수 ***** -->
            <input type="hidden" name="version" value="1.0">
            <input type="hidden" name="mid" :value="billingFormData.mid"> <!--mindslab01-->
            <input type="hidden" id="billingGoodName" name="goodname" :value="billingFormData.businessName">
            <input type="hidden" name="oid" :value="billingFormData.oid"> <!--mindslab01_Date-->
            <input type="hidden" id="billingPrice" name="price" :value="billingFormData.businessPrice">
            <!--TODO: erase value-->
            <input type="hidden" name="currency" value="WON">
            <input type="hidden" name="buyername" :value="billingFormData.name">
            <input type="hidden" name="buyertel" :value="billingFormData.phoneNumber">    <!-- phone 번호 확인 필요 -->
            <input type="hidden" name="buyeremail" :value="billingFormData.userId">
            <input type="hidden" name="timestamp" :value="billingFormData.timestamp">
            <input type="hidden" id="billingSignature" name="signature" :value="billingFormData.businessSignature">
            <input type="hidden" name="returnUrl"
                   :value="`${billingFormData.siteDomain}/payment/${billingFormData.method}?email=${this.$store.state.loginUser}`">
            <input type="hidden" name="mKey" :value="billingFormData.mkey">

            <!-- ***** 기본옵션 ***** -->
            <input type="hidden" name="gopaymethod" value="Card">
            <input type="hidden" name="offerPeriod" :value="`${billingFormData.dateTo}-${billingFormData.dateFrom}`">
            <!--20200930-20201030-->
            <input type="hidden" name="acceptmethod" value="BILLAUTH(card)">
            <!-- 	<input   id="billPrint_msg" name="billPrint_msg" value="고객님의 매월 결제일은 24일 입니다." > -->

            <!-- ***** 표시옵션 ***** -->
            <input type="hidden" name="languageView" value="ko">
            <input type="hidden" name="charset" value="UTF-8">
            <input type="hidden" name="payViewType" value="overlay">
            <input type="hidden" name="closeUrl" :value="`${billingFormData.siteDomain}/payment/close`">

            <!-- ***** 추가옵션 ***** -->
            <!-- 	<input  name="merchantData" value="" > -->
            <!--            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
        </form>
    </div>
</template>

<script>

    import {mapState, mapGetters, mapActions} from 'vuex';

    import {RepositoryFactory} from '@/repositories/RepositoryFactory';
    import BillingPopupView from "@/views/popup/BillingPopupView";

    const UserRepository = RepositoryFactory.get('user');
    const PaymentRepository = RepositoryFactory.get('payment')

    import axios from 'axios';


    const API_BASE_URL = process.env.API_BASE_URL;

    export default {
        name: "PaymentView",
        components: {
            BillingPopupView
        },
        data() {
            return {
                paymentResult: true,
                showBillingModal: false,
                name: "",
            }
        },
        computed: {

            ...mapState('payment', {
                billingFormData: 'billingFormData',
            }),
        },
        methods: {
            ...mapActions('payment', {
                setBillingFormData: 'setBillingFormData',         // 선택한 화자 추가
            }),
            async grantBasicMembership() {
                const {data} = await PaymentRepository.getBillingFormInfo("14900", this.$store.state.loginUser);
                if(!(this.$store.state.membership == 1)){
                    this.setBillingFormData(data).then(() => {
                        INIStdPay.pay('billingForm')
                    });
                } else {
                    alert("이미 구독 중인 요금제 입니다.")
                }
            },
            async grantProMembership() {
                const {data} = await PaymentRepository.getBillingFormInfo("44000", this.$store.state.loginUser);

                if(!(this.$store.state.membership == 2)){
                    this.setBillingFormData(data).then(() => {
                        INIStdPay.pay('billingForm')
                    });
                }else{
                    alert("이미 구독 중인 요금제 입니다.")

                }
            },
            async grantPlusMembership() {
                const {data} = await PaymentRepository.getBillingFormInfo("98000", this.$store.state.loginUser);

                if(!(this.$store.state.membership == 3)){
                    this.setBillingFormData(data).then(() => {
                        INIStdPay.pay('billingForm')
                    });
                }else{
                    alert("이미 구독 중인 요금제 입니다.")
                }
            },
        },
    }
</script>

<style lang="scss" scoped>


    #wrapper {
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        background-color: #f7f8fc;
        height: 100%;
        width: 100%;
    }


    #paymentHeader {
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;

        width: 50%;
    }

    #paymentHeader h1 {
        color: black;
        text-align: left;
        margin-bottom: 20px;
        font-size: 32px ;
        font-weight: 700 ;
    }

    #paymentHeader p {
        color: black;
        font-size: 15px;
    }

    #paymentHeader span {
        color: orange;
        text-decoration: underline;
        font-weight: bold;
    }

    #paymentBody {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin: 80px auto;
        width:1000px;
    }


    .frame {
        border: solid 1px #cfd5eb;
        border-radius: 0.5rem;
        margin: 20px;
        text-align: center;
        width: 300px;
        background-color: white;
    }

    .frameHeader {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        font-weight: bold;
        color: #14b6cb;

    }

    .frameHeader h2 {
        margin-bottom: 10%;
        font-size: 28px ;
        font-weight: 700 ;
    }

    .frameHeader p {
        padding-bottm: 30px;
        color: #002b49 ;
        font-size: 14px ;
        font-weight: normal ;
        letter-spacing: -0.44px ;

    }

    .frameHeader h3 {
        font-weight: bold;
        border-bottom: dotted 1px #cfd5eb;
        height: 50px;
        font-size: 28px ;
        font-weight: 700 ;
        letter-spacing: -0.5px;
    }

    .frameBody {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-size: 13px;
    }

    .frameBody ul {
        list-style: none;
        padding-left: 13%;
    }

    .frameBody ul li {
        margin-bottom: 5%;
        font-weight: bold;
    }

    .frameBody ul li:before {
        content: "\2714";
        margin-right: 3%;

    }

    .frameFooter {
        width: 65%;
        margin: 5% auto 5% auto;
    }

    .frameFooter button {
        clear: both;
        display: block;
        width: 100%;
        height: 45px;
        border-radius: 5px;
        border: solid 1px #14b6cb;
        background-color: #14b6cb;
        font-size: 18px;
        font-weight: 500;
        line-height: 45px;
        letter-spacing: -0.56px;
        text-align: center;
        color: #ffffff;

    }

    .frameFooter button:hover {
        color: #35384d;
        text-decoration: none;
    }
</style>